@brand-primary: #0071a4; // #1890af
@label-default-bg: #dfdfdf;
@state-success-text: #43c59e;
@state-success-bg: lighten(@state-success-text, 40%);
@panel-success-border: @state-success-text;
@link-hover-color: #49afcd;
@brand-success: @state-success-text;
@body-font-color: #333;
@body-bg: #f5f7fa;
@nav-tabs-active-link-hover-bg: white;
@state-danger-text: #dc3545;
@panel-danger-border: lighten(@state-danger-text, 30%);
@progress-bar-default-bg: #ccc;
@dv-light-gray: #ccc;
@dv-gray: darken(@dv-light-gray, 10%);
@dv-dark-gray: darken(@dv-gray, 10%);
@dv-darker-gray: darken(@dv-dark-gray, 10%);
@dv-blue: #16a1ab;
@dv-dark-blue: #147892;
@dv-light-blue: lighten(@dv-blue, 5%);
@dv-light-green: #c0d38e;
@dv-black: #333;
@dv-green: @state-success-text;
@dv-green: @state-success-text;

@dd-score-good-bg: #37b28e;
@dd-score-ok-bg: #ffcc00;
@dd-score-bad-bg: #dc3545;
@dd-score-na-bg: lighten(@gray-light, 40%);

// menubar styles
@menubar-bg: darken(@brand-primary, 10%);
@menubar-color: rgba(255, 255, 255, 0.8);
@menubar-active-color: white;
@menubar-hover-bg: darken(@menubar-bg, 5%);
@menubar-active-bg: darken(@menubar-hover-bg, 5%);

@menubar-dropdown-bg: white;
@menubar-dropdown-hover-bg: #f4f4f4;
@menubar-hover-color: @menubar-active-color;
@menubar-dropdown-color: inherit;
@menubar-height: 50px;
