.font-weight-normal {
  /* strong tag rendered by innerHTML */
  strong {
    font-weight: normal !important;
  }
}
::ng-deep .custom-fields .label-wrap{
  overflow: hidden;
  word-break: break-all;
}
