.review-main {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.ar-tabs {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
  margin-bottom: 20px;
}
.cat-list {
  min-width: 35%;
  max-width: 40%;
}
.tabs-width {
  flex: 0 0 146px;
}
.review-form {
  display: flex;
  flex-direction: column;
}
.assign-reviewer {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.fields {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 10px;
}
.definitions {
  display: flex;
}

.ar-entity {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 15px;
}

:host ::ng-deep .template-segment {
  background: #f3f4f7;
}

.add-reviewr {
  display: flex;
  justify-content: center;
}

.save-definition {
  margin-top: 20px;
}

.save-def {
  display: flex;
  gap: 10px;
}
.save-def-check {
  display: flex;
  justify-content: flex-end;
}
