<div class="row clearfix">
  <div class="col-md-12">
    <div class="panel panel-default borderless-top">
      <div class="panel-body clearfix">
        <div class="dv-table dv-table-middle dd-info-panel" *ngIf="firm">
          <div class="bordered-right cell">
            <h4 class="clear-margin max-w-320 lh1-5 word-break-break-all">
              {{ firm.name }}
            </h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div col="12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5 class="panel-title">
              {{ public_contacts?.length }} Internal Contact(s)
            </h5>
            <div class="panel-controls">
              <div class="panel-controls-wrapper">
                <a
                  class="panel-control"
                  tooltip="Assign Internal Contacts"
                  container="body"
                  (click)="addPublicContact()"
                  placement="left"
                >
                  <span appIcon name="plus"></span>
                </a>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div *ngIf="public_contacts && public_contacts?.length">
              <!-- tiles-adjuster="adjust_entity_list"
                use-max-tile-width="true"
                tile-selector="> li" -->
              <ul
                class="list-unstyled due-diligence-grid"
                tiles-adjuster="adjust_entity_list"
                use-max-tile-width="true"
                tile-selector="> li"
              >
                <li
                  class="inline-block pull-left pos-rel internal_contacts_li"
                  *ngFor="let entity of public_contacts"
                  (mouseenter)="entity.display_action_buttons = true"
                  (mouseleave)="entity.display_action_buttons = false"
                >
                  <div class="panel panel-default space-on-right relative">
                    <div class="panel-body">
                      <div>
                        <a
                          class="clickable"
                          tooltip="{{ entity.fullName }}"
                          container="body"
                          (click)="goToUserPage(entity)"
                        >
                          {{ entity.fullName }}
                        </a>
                      </div>
                      <ul
                        class="list-unstyled space-on-top-lg clear-margin-bottom list-with-icons"
                      >
                        <li class="space-on-bottom">
                          <small
                            *ngIf="!entity.is_primary && !entity.is_public"
                            class="visibility-hidden"
                          >
                            Contact Type:
                          </small>
                          <span
                            class="label label-success space-on-right"
                            *ngIf="entity.is_primary"
                          >
                            Primary
                          </span>
                          <span
                            class="label label-primary space-on-right"
                            *ngIf="entity.is_public"
                          >
                            Visible
                          </span>
                        </li>
                        <li
                          *ngIf="
                            entity.internal_tags && entity.internal_tags.length
                          "
                        >
                          <span
                            class="label label-default space-on-right"
                            *ngFor="let department of entity.internal_tags"
                          >
                            {{ getFunctionDescription(department) }}
                          </span>
                        </li>
                      </ul>
                      <div
                        class="pos-abs stick-right-lg stick-bottom-lg"
                        *ngIf="entity.display_action_buttons && isFirmOwner"
                      >
                        <dv-button
                          [fontSizeType]="'medium'"
                          [btnType]="'default'"
                          [size]="'xs'"
                          (onClick)="editPublicContact(entity)"
                          tooltipText="Edit this contact"
                          class="space-on-right"
                        >
                          <span appIcon name="pencil"></span>
                        </dv-button>
                        <dv-button
                          [fontSizeType]="'medium'"
                          [btnType]="'default'"
                          [btnClass]="'text-danger'"
                          [size]="'xs'"
                          (onClick)="displayContactRemovalConfirmation(entity)"
                          tooltipText="Remove this contact"
                          class="space-on-right"
                        >
                          <span appIcon name="trashcan"></span>
                        </dv-button>
                      </div>
                    </div>
                  </div>
                  <div class="ribbon right-0" *ngIf="entity.is_key_person">
                    <span>Key Person</span>
                  </div>
                </li>
              </ul>
            </div>
            <div class="row clearfix" *ngIf="!public_contacts?.length">
              <div col="6" offset="3" class="space-on-top-lg">
                <app-empty-state
                  iconName="user"
                  (action)="addPublicContact()"
                  actionLabel="Assign Internal Contact"
                  message="No internal contact(s) available for {{
                    firm?.name
                  }}. Why not add?"
                >
                </app-empty-state>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix" *ngIf="!public_contacts">
      <div col="12">
        <div class="panel panel-default">
          <div class="panel-body">
            <app-spinner
              [broadSpinner]="true"
              spinnerHeight="100"
            ></app-spinner>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-sm-12 space-on-bottom">
            <span class="label label-success space-on-right"> Primary </span>
            <small
              ><i
                >These are primary contacts of the entity on the
                {{ is_manager ? "your" : "manager" }} side. These contacts will
                be notified of any activities related to their assigned
                entities. Investor will not be able to remove these contacts
                while sending out requests.</i
              ></small
            >
          </div>
          <div class="col-sm-12 space-on-bottom">
            <span class="label label-primary space-on-right"> Visible </span>
            <small
              ><i
                >These are the visible contacts of the entity setup by
                {{ is_manager ? "your" : "manager" }} firm.
                {{ is_manager ? "Investor" : "You" }} can add/remove them based
                on the requirement.</i
              ></small
            >
          </div>
          <div class="col-sm-12" *ngIf="is_manager">
            <span class="label label-warning space-on-right"> Key Person </span>
            <small
              ><i
                >These are the key employees of a firm like CEO, CTO, COO etc of
                the firm. You can mark all C level managers as a key person.</i
              ></small
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
