<div class="panel panel-default">
  <div class="panel-heading">
    <h5 class="panel-title">Manage Firm Tags and Custom Fields</h5>
  </div>
  <div class="panel-info">
    <div class="panel-heading" aria-label="Information" clickable>
      Manage all firm tags and custom fields that are relevant to your
      organization under this section.
    </div>
  </div>
  <div class="panel-body">
    <div>
      <app-custom-field-viewer
        [entityType]="'firm'"
        [entityTypeId]="1220"
        [source]="'firm'"
      ></app-custom-field-viewer>
    </div>
  </div>
</div>
