<div class="row clearfix">
  <div class="col-md-12">
    <div class="panel panel-default borderless-top hide-in-print-view">
      <div class="panel-body clearfix">
        <app-spinner
          broadSpinner="true"
          spinnerHeight="65"
          *ngIf="!firm"
        ></app-spinner>
        <div class="display-flex justify-space-between">
          <div class="dv-table dv-table-middle dd-info-panel" *ngIf="firm">
            <div class="bordered-right cell">
              <h4 class="clear-margin max-w-320 lh1-5 word-break-break-all">
                {{ firm?.display_name }}
              </h4>
              <div *ngIf="!firm?.active" class="space-on-top">
                <span class="label label-danger"> INACTIVE </span>
              </div>
            </div>
            <div
              class="bordered-right cell text-center"
              *ngIf="is_investor && !is_freeSubscription"
              tooltip="Add / view / edit manager's internal profiles"
              container="body"
            >
              <dv-button
                [btnClass]="'dropdown-toggle'"
                [btnType]="'transparent'"
                (onClick)="
                  toggleProfileDropdown = !toggleProfileDropdown;
                  toggleDropdown = false
                "
              >
                <span class="inline-block relative">
                  <span appIcon name="manager" class="fa-2x"></span>
                  <small
                    class="pos-abs stick-top-ve-sm space-on-left-3"
                    *ngIf="profiles && profiles.length"
                  >
                    <strong>{{ profiles.length }}</strong>
                  </small>
                </span>
                <div>
                  <small>Profiles</small>
                </div>
              </dv-button>
              <dv-dropdown
                type="default"
                (onDropdownClick)="onDropdownClick($event)"
                (onDropdownToggle)="toggleProfileDropdown = $event"
                [toggleDropDown]="toggleProfileDropdown"
                [dropDownList]="dropdownItemsProfiles"
              ></dv-dropdown>
            </div>
            <div
              class="cell"
              tooltip="Edit, view website, search or inactivate firm"
              container="body"
            >
              <dv-button
                [btnType]="'transparent'"
                [btnClass]="'dropdown-toggle'"
                (onClick)="
                  toggleDropdown = !toggleDropdown;
                  toggleProfileDropdown = false
                "
              >
                <div><span appIcon name="ellipsis-h" size="2x"></span></div>
                <div class="space-on-top-n"><small>More Actions</small></div>
              </dv-button>
              <dv-dropdown
                type="default"
                (onDropdownClick)="onDropdownClick($event)"
                (onDropdownToggle)="
                  toggleDropdown = $event; toggleProfileDropdown = false
                "
                [toggleDropDown]="toggleDropdown"
                [dropDownList]="dropdownItems"
                dropdownPlacement="bottom"
              ></dv-dropdown>
            </div>
          </div>
          <div class="dv-table dv-table-middle dd-info-panel" *ngIf="firm">
            <div class="w-320 cell bordered-right" *ngIf="customDateFilter">
              <app-date-range-picker
                [maxDate]="maxDate"
                [customDate]="dateRangeForDirectives"
                (change)="onChange($event)"
                (clearDateFilter)="onClearDateFilter()"
              ></app-date-range-picker>
            </div>
            <div class="cell text-center">
              <a class="btn btn-transparent" (click)="navigateToMonitorFirms()">
                <div><span appIcon name="arrow-back" size="2x"></span></div>
                <small>Back to all firms</small>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div col="4" class="hide-in-print-view">
        <div class="panel panel-default">
          <div class="panel-heading">
            <span>
              <span
                appIcon
                name="bookmark"
                class="space-on-right align-middle"
              ></span>
              <span class="align-middle"> Profile Summary </span>
            </span>
          </div>
          <div class="panel-body">
            <ul class="list-unstyled due-diligence-history">
              <li>
                <small class="text-muted text-uppercase"
                  >Relationship Status:</small
                >
                {{ firm?.relationship_status_name }}
              </li>
              <li *ngFor="let entry of assignedFunctions" class="label-list">
                <small class="text-muted text-uppercase"
                  >{{ entry.function_name }}:</small
                >
                <span
                  class="label label-default space-on-left"
                  *ngFor="let user of entry.user_assigments"
                  >{{ user.user_name }}</span
                >
              </li>
              <li>
                <small class="text-muted text-uppercase"
                  ># of Contacts: &nbsp;</small
                >
                <a (click)="navigateToAssociatedContacts()">{{
                  contact_count ? contact_count : 0
                }}</a>
              </li>
              <li *ngIf="!is_manager">
                <small class="text-muted text-uppercase"
                  ># of Products: &nbsp;</small
                >
                <a (click)="navigateToRelatedEntities()">{{ product_count }}</a>
              </li>
              <li>
                <small class="text-muted text-uppercase"
                  ># of Documents: &nbsp;</small
                >
                <a (click)="navigateToDocumentsList()">{{ document_count }}</a>
              </li>
              <li
                *ngIf="
                  recommendationTrackerName && totalRecommendationCount != null
                "
              >
                <small class="text-muted text-uppercase"
                  ># of {{ recommendationTrackerName }}:
                </small>
                <a
                  (click)="navigateToRecommendationTracker()"
                  class="clickable"
                  >{{ totalRecommendationCount }}</a
                >
              </li>
              <li *ngIf="tags.length && is_investor">
                <small class="text-muted text-uppercase"
                  >Tagged as: &nbsp;</small
                >
                <span *ngIf="tags.length">
                  <span class="label-list">
                    <span
                      class="label label-default space-on-right text-uppercase"
                      *ngFor="let tag of tags; let $index = index"
                    >
                      <small>{{ tag.name }}</small>
                      <a
                        class="space-on-left clickable link-disguise"
                        (click)="displayTagRemovalConfirmation(tag, $index)"
                        >&times;</a
                      >
                    </span>
                  </span>
                </span>
                <a class="clickable" (click)="displayTagsController()">
                  <small>Edit Tags</small>
                </a>
              </li>
              <li *ngIf="!tags.length && is_investor">
                <a (click)="displayTagsController()">
                  Why not tag this firm?
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="dv-notes-list-panel">
          <app-dv-custom-fields
            entityType="Firm"
            [entityId]="firmId"
            [customFields]="customFields"
            (onAdd)="manageCustomfield()"
          ></app-dv-custom-fields>
        </div>
        <div class="dv-notes-list-panel">
          <app-dv-meetings
            #dvMeetings
            *ngIf="firm"
            entityType="Firm"
            [entityId]="firmId"
            [dateFilter]="dateRangeForDirectives"
          ></app-dv-meetings>
        </div>
        <app-dv-workflows
          *ngIf="firm"
          [entityType]="entity_type"
          [entityId]="firmId"
          [entityName]="firm?.name"
          [disableInsert]="is_freeSubscription"
          [dateFilter]="dateRangeForDirectives"
        ></app-dv-workflows>
        <div class="dv-notes-list-panel">
          <app-dv-tasks
            *ngIf="firm"
            entityType="Firm"
            [entityId]="firmId"
            [dateFilter]="dateRangeForDirectives"
          ></app-dv-tasks>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <span>
              <span
                appIcon
                name="bookmark"
                class="space-on-right align-middle"
              ></span>
              <span class="align-middle"> HeadQuarter </span>
            </span>
          </div>
          <div class="panel-body">
            <ul class="list-unstyled due-diligence-history">
              <li>
                <small class="text-muted text-uppercase">Street Address:</small>
                {{ address?.address_line_1 }}
              </li>
              <li>
                <small class="text-muted text-uppercase"
                  >Street Address 2:</small
                >
                {{ address?.address_line_2 }}
              </li>
              <li>
                <small class="text-muted text-uppercase">City:</small>
                {{ address?.city }}
              </li>
              <li>
                <small class="text-muted text-uppercase">State:</small>
                {{ address?.state }}
              </li>
              <li>
                <small class="text-muted text-uppercase">Zipcode:</small>
                {{ address?.zip_code }}
              </li>
              <li>
                <small class="text-muted text-uppercase">Country:</small>
                {{ address?.country_name }}
              </li>
            </ul>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <span>
              <span
                appIcon
                name="search"
                class="space-on-right align-middle"
              ></span>
              <span class="align-middle">
                Diligence History
                <span *ngIf="diligences?.length"
                  >({{ diligences?.length }})</span
                >
              </span>
            </span>
            <div class="panel-controls" *ngIf="is_investor">
              <div class="panel-controls-wrapper">
                <a
                  (click)="navigateToDiligenceInvite()"
                  class="panel-control"
                  tooltip="Start new request"
                  container="body"
                >
                  <span appIcon name="plus"></span>
                </a>
              </div>
            </div>
          </div>
          <div class="panel-body historyBodyScroll" tabindex="0">
            <app-spinner
              broadSpinner="true"
              spinnerHeight="40"
              *ngIf="loading_history"
            ></app-spinner>
            <app-empty-state
              message="No diligences available for this firm"
              *ngIf="diligences && !diligences?.length"
            ></app-empty-state>
            <ul
              class="list-unstyled due-diligence-history"
              *ngIf="!loading_history && diligences"
            >
              <li
                col="12"
                class="clear-horizontal-padding"
                *ngFor="let diligence of diligences"
              >
                <div col="12" class="full-width clear-horizontal-padding">
                  <div
                    col="3"
                    class="align-middle text-center"
                    [ngClass]="{
                      'space-on-top-lg':
                        diligence.scheduled_for ||
                        diligence.status == 'Invited',
                      'space-on-top-xl': !(
                        diligence.scheduled_for || diligence.status == 'Invited'
                      )
                    }"
                  >
                    <span
                      class="label display-inline-table white-space-normal"
                      diligenceStatus
                      [status]="diligence.status"
                    >
                      <small>{{ diligence.status }}</small>
                    </span>
                  </div>
                  <div col="9" class="align-middle">
                    <span
                      class="overflow-ellipsis"
                      tippyTooltip="{{ diligence.template_name }}"
                      container="body"
                    >
                      {{ diligence.template_name }}
                    </span>
                    <div>
                      <small class="text-muted">
                        <span *ngIf="diligence.status === 'Invited'">
                          Invited on
                          <span>{{
                            diligence.created_at | dvDate : ["dvDateTime"]
                          }}</span>
                        </span>
                        <span
                          *ngIf="
                            diligence.scheduled_for &&
                            diligence.status !== 'Invited'
                          "
                        >
                          Scheduled on
                          <span>{{
                            diligence.scheduled_for | dvDate : ["dvDateTime"]
                          }}</span>
                        </span>
                        <span
                          *ngIf="
                            diligence.closed_at &&
                            diligence.status !== 'Invited'
                          "
                        >
                          Closed on
                          <span>{{
                            diligence.closed_at | dvDate : ["dvDateTime"]
                          }}</span>
                        </span>
                        <span
                          *ngIf="
                            !(
                              diligence.closed_at ||
                              diligence.scheduled_for ||
                              diligence.status === 'Invited'
                            )
                          "
                        >
                          Updated on
                          <span>{{
                            diligence.lastupdated_at | dvDate : ["dvDateTime"]
                          }}</span>
                        </span>
                      </small>
                    </div>
                    <div
                      *ngIf="
                        !(
                          diligence.scheduled_for ||
                          diligence.status == 'Invited'
                        )
                      "
                    >
                      <small>
                        <a (click)="navigateToProjectQuestionnaire(diligence)"
                          >View Due Diligence</a
                        >
                      </small>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div col="8">
        <app-dv-notes
          *ngIf="firm"
          [entityType]="entity_type"
          [entityId]="firmId"
          [notesOptions]="notesOptions"
          [entityName]="firm?.name"
          [dateFilter]="dateRangeForDirectives"
          [currentUser]="current_user"
        ></app-dv-notes>
      </div>
    </div>
  </div>
  <div
    class="dd-sidebar-panel dv-sidebar-panel sidebar-lg hide-in-print-view"
    [ngClass]="{ in: displaySidebarPanel }"
  >
    <div class="panel panel-primary">
      <div class="panel-heading text-center">
        <h5>
          <b>{{ sidebarTitle }}</b>
          <a
            class="pull-right clickable link-disguise"
            (click)="displaySidebarPanel = false"
          >
            <span appIcon name="close" size="lg"></span>
          </a>
        </h5>
      </div>
      <div
        class="panel-body"
        [ngClass]="{ 'has-record-form': sidebarContent === 'record' }"
      >
        <app-spinner *ngIf="!is_data_loaded"></app-spinner>
        <div *ngIf="!tagsAvailable">
          <app-empty-state
            *ngIf="is_admin"
            iconName="tag"
            (action)="redirectToFirmSettings()"
            actionLabel="Set Firm Tags"
            message="No tags available. Please get in touch with your admin to set your firm-specific tags"
          >
          </app-empty-state>
          <app-empty-state
            *ngIf="!is_admin"
            iconName="tag"
            message="No tags available. Please get in touch with your admin to set your firm-specific tags"
          >
          </app-empty-state>
        </div>
        <form
          novalidate
          name="tag_investment_form"
          *ngIf="is_data_loaded && tagsAvailable"
          autocomplete="off"
        >
          <dv-form-element
            [showRightIcon]="false"
            [label]="'Asset Allocation'"
            *ngIf="tag_list.assettype.length"
            [elementCol]="12"
            [elementClass]="'space'"
            [for]="'asset-allocation'"
          >
            <dv-select
              [id]="'asset-allocation'"
              [list]="tag_list.assettype"
              (remove)="onTagRemoved($event)"
              [(ngModel)]="investment.assets"
              [disabled]="false"
              [clearable]="false"
              [searchable]="false"
              [multiple]="true"
              [hideSelected]="true"
              name="assets"
            ></dv-select>
          </dv-form-element>

          <dv-form-element
            [fieldName]="'Conviction Level'"
            [showRightIcon]="false"
            [label]="'Conviction Level'"
            *ngIf="tag_list.conviction.length"
            [elementCol]="12"
            [elementClass]="'space'"
            [for]="'conviction-level'"
          >
            <dv-select
              [clearable]="false"
              [searchable]="false"
              [multiple]="true"
              [hideSelected]="true"
              name="conviction-level"
              [id]="'conviction-level'"
              [(ngModel)]="investment.conviction_levels"
              [list]="tag_list.conviction"
              bindLabel="name"
              bindValue="id"
              (remove)="onTagRemoved($event)"
            ></dv-select>
          </dv-form-element>
          <dv-form-element
            *ngIf="tag_list.geography.length"
            [modelController]=""
            [fieldName]="'Region'"
            [showRightIcon]="false"
            [label]="'Geographic Focus'"
            [elementCol]="12"
            [elementClass]="'space'"
            [for]="'geography'"
          >
            <dv-select
              [clearable]="false"
              [searchable]="false"
              [multiple]="true"
              [hideSelected]="true"
              name="geography"
              [id]="'geography'"
              [(ngModel)]="investment.geographies"
              [list]="tag_list.geography"
              bindLabel="name"
              bindValue="id"
              (remove)="onTagRemoved($event)"
            ></dv-select>
          </dv-form-element>

          <dv-form-element
            *ngIf="tag_list.thesis.length"
            [fieldName]="'Thesis'"
            [showRightIcon]="false"
            [label]="'Investment Thesis'"
            [elementCol]="12"
            [elementClass]="'space'"
            [for]="'theses'"
          >
            <dv-select
              [clearable]="false"
              [searchable]="false"
              [multiple]="true"
              [hideSelected]="true"
              name="theses"
              [id]="'theses'"
              [(ngModel)]="investment.theses"
              [list]="tag_list.thesis"
              bindLabel="name"
              bindValue="id"
              (remove)="onTagRemoved($event)"
            ></dv-select>
          </dv-form-element>

          <dv-form-element
            *ngIf="tag_list.watchlist.length"
            [fieldName]="'WatchList'"
            [showRightIcon]="false"
            [label]="'Watch List'"
            [elementCol]="12"
            [elementClass]="'space'"
            [for]="'watchlists'"
          >
            <dv-select
              [clearable]="false"
              [searchable]="false"
              [multiple]="true"
              [hideSelected]="true"
              name="watchlists"
              [id]="'watchlists'"
              [(ngModel)]="investment.watchlists"
              [list]="tag_list.watchlist"
              bindLabel="name"
              bindValue="id"
              (remove)="onTagRemoved($event)"
            ></dv-select>
          </dv-form-element>

          <div class="form group">
            <dv-button [loader]="saving_tags" (onClick)="saveTags()">
              Update Tags
            </dv-button>

            <p class="text-muted space-on-top-lg">
              <small>
                <i
                  >This helps tag products for easier tracking. Tags could be
                  for geography, conviction, asset types or thesis.</i
                >
              </small>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
