.copy-link {
  letter-spacing: 1px;
  font-weight: bolder;
}
.copy-link-normal {
  color: #3891a6;
}
.copy-link-success {
  color: #4AA316;
}
.link-border-normal {
  border: 1px solid #065768;
}
.link-border-success {
  border: 1px solid #4AA316;
}
.link {
  margin-top: 15px;
  /* background-color: #0657681a; */
  border-radius: 8px;
  opacity: 1;
  padding: 11px 20px 11px 11px;
}
.header {
  letter-spacing: 0px;
  color: #4d4d4d;
  opacity: 1;
}
