.va-baseline {
  vertical-align: baseline;
}

.va-text-bottom {
  vertical-align: text-bottom;
}

.text-align-start {
  text-align: start !important;
}

.va-middle {
  vertical-align: middle;
}

.va-top {
  vertical-align: top;
}

.t-a-right {
  text-align: right;
}

.va-sub {
  vertical-align: sub;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-direction-column {
  flex-direction: column;
}
