.border-left-blue {
  border-left-color: @dv-light-blue !important;
}

.no-border {
  border: none !important;
}

.bordered-right {
  border-right: 1px solid #eee;
}

.bordered-right-silver {
  border-right: 1px dashed silver;
}

.bordered-bottom {
  border-bottom: 1px solid #eee;
}

.bordered-left {
  border-left: 1px solid #eee;
}

.borderless {
  border: none !important;
}

.border-rounded-4 {
  border-radius: 4px;
}

.borderless-top {
  border-top: none !important;
}

.bordered-blue {
  border: 1px solid @dv-light-blue !important;
}

.bordered-navy-blue {
  border: 1px solid #126b82 !important;
}

.full-grey-border {
  border: 1px solid #ddd;
}
