.bg-primary-dark {
  background-color: darken(@brand-primary, 10%);
}

.bg-success-dark {
  background-color: darken(@brand-success, 10%);
}

.bg-info-dark {
  background-color: darken(@brand-info, 10%);
}

.bg-warning-dark {
  background-color: darken(@brand-warning, 10%);
}

.bg-warning-light {
  background-color: lighten(@brand-warning, 10%);
}

.bg-warning-lighter {
  background-color: lighten(@brand-warning, 34%);
}

.bg-danger-dark {
  background-color: darken(@brand-danger, 10%);
}

.bg-orange {
  background-color: @dv-orange;
}

.bg-orange-dark {
  background-color: darken(@dv-orange, 10%);
}

.bg-purple {
  background-color: @dv-purple;
}

.bg-purple-dark {
  background-color: darken(@dv-purple, 10%);
}

.bg-dark-gray {
  background-color: @dv-dark-gray;
}

.bg-darker-gray {
  background-color: @dv-darker-gray;
}

.bg-blue {
  background-color: @dv-blue;
}

.bg-light-blue {
  background-color: @dv-light-blue;
}

.bg-sky-blue {
  background-color: @dv-sky-blue;
}

.bg-light-green {
  background-color: @dv-light-green;
}

.bg-black {
  background-color: @dv-black;
}

.bg-light-gray-panel {
  background-color: #f5f5f5;
}

.bg-white {
  background-color: white !important;
}

.text-light-blue {
  color: @dv-light-blue;
}

.text-dark-blue {
  //#126b82
  color: @dv-blue;
}

.text-gray {
  color: darken(@dv-gray, 20%) !important;
}

.row-expired {
  background-color: #fae2e5 !important;
}

.question-text-color {
  color: #444;
  font-weight: 600;
}

.answer-text-color {
  color: #504d4d;
}

.white-text-color {
  color: #ffffff;
}

.color-danger {
  color: #dc3545 !important;
}

.row-invited {
  background-color: #ffffff !important;
  //F1F5D9
  //light green #FBFFE3
}

.row-opened {
  background-color: #fafafa !important;
}

.success-blue {
  color: @brand-primary;
}

.htDangerBackground,
.handsontable td.htInvalid {
  background-color: #ffcccc !important;
}

.color-success {
  color: @dv-green;
}

.secondary-text-color {
  color: #646464;
}
