.file-selection-wrapper {
  position: relative;

  .file-drop-panel {
    border-width: 2px;
    border-style: dashed;
    padding-top: 25px;
    padding-bottom: 59px; //height of select button 34px + padding bottom 25px
    margin-bottom: 0;
  }

  .file-select-button-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25px;
    text-align: center;
  }
}
