.h-50{
  height: 50px !important;
}

.h-200{
  height: 200px !important;
}

.h-80-vh{
  height: 80vh;
}

.max-h-25-em{
  max-height: 25em;
}

.min-h-10-em{
  min-height: 10em;
}

.min-h-250{
  min-height: 250px;
}

.h-100-y-scroll{
  max-height: 100px;
  overflow-y: scroll;
}

.h-100-y-scroll::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
.h-100-y-scroll::-webkit-scrollbar-thumb {
  background: #FF0000;
}

.height-30{
  height: 30px !important;
}

.min-height-50px{
  min-height: 50px;
}

.height-100-pct {
  height: 100%;
}
