.label-orange {
  .label-variant(@dv-orange);
}

.label-very-poor {
  .label-variant(@rating-very-poor);
}

.label-poor {
  .label-variant(@rating-poor);
}

.label-good {
  .label-variant(@rating-good);
}

.label-average {
  .label-variant(@rating-average);
}

.label-excellent {
  .label-variant(@rating-excellent);
}

.label-danger-new{
  .label-variant(#F0592B);
}

.review-label{
  font-weight: bold;
  font-size: 14px;

  &.success{
    color: #4AA316;
  }

  &.danger{
    color: #F0592B;
  }
}