.margin-auto {
  margin: auto !important;
}
.margin-0-auto {
  margin: 0 auto !important;
}

.clear-margin {
  margin: 0 !important;
}

.clear-margin-top {
  margin-top: 0 !important;
}

.clear-margin-left {
  margin-left: 0 !important;
}

.clear-margin-right {
  margin-right: 0 !important;
}

.clear-margin-bottom {
  margin-bottom: 0 !important;
}

.space-on-top-xm {
  margin-top: 1px !important;
}

.space-on-top-2 {
  margin-top: 2px !important;
}

.space-on-top-3 {
  margin-top: 3px !important;
}

.space-on-top {
  margin-top: 5px !important;
}

.space-on-top-lg {
  margin-top: 10px;
}

.space-on-top-xl {
  margin-top: 15px;
}

.space-on-top-xxl {
  margin-top: 20px;
}

.space-on-top-xxxl {
  margin-top: 30px !important;
}

.space-on-top-n {
  margin-top: -5px;
}

.space-on-right-n {
  margin-right: -5px;
}

.space-on-right-n-8 {
  margin-right: -8px;
}

.space-on-right-sm {
  margin-right: 3px;
}

.space-on-right {
  margin-right: 5px;
}

.space-on-right-imp {
  margin-right: 5px !important;
}

.space-on-right-lg {
  margin-right: 10px;
}

.space-on-right-xl {
  margin-right: 15px;
}

.space-on-right-xxl {
  margin-right: 20px;
}

.space-on-left-2 {
  margin-left: 2px;
}

.space-on-left-3 {
  margin-left: 3px;
}

.space-on-right-10-pct {
  margin-right: 10%;
}

.space-on-left {
  margin-left: 5px;
}

.space-on-left-lg {
  margin-left: 10px;
}

.space-on-left-xxl {
  margin-left: 20px;
}

.space-on-left-xxxl {
  margin-left: 25px;
}

.space-on-left-xxxxl {
  margin-left: 30px;
}

.space-on-bottom {
  margin-bottom: 5px !important;
}

.space-on-bottom-2 {
  margin-bottom: 2px;
}

.space-on-bottom-lg {
  margin-bottom: 10px !important;
}

.space-on-bottom-xl {
  margin-bottom: 15px !important;
}

.space-on-bottom-xxl {
  margin-bottom: 20px !important;
}

.space-on-bottom-xxxl {
  margin-bottom: 30px !important;
}

.space-on-bottom-40 {
  margin-bottom: 40px !important;
}

.space-on-bottom-50 {
  margin-bottom: 50px !important;
}

.space-on-bottom-n-lg {
  margin-bottom: -10px;
}

.dashed-border-at-bottom {
  border-width: 0 0 1px 0;
  padding: 0 0 10px 0;
  border-style: dashed;
  border-color: #dddddd;
}

.m-b-60 {
  margin-bottom: 60px;
}

.margin-20 {
  margin: 20px;
}

.margin-top-30 {
  margin-top: 30px !important;
}
.margin-top-40 {
  margin-top: 40px !important;
}
.margin-top-50 {
  margin-top: 50px !important;
}
.margin-top-60 {
  margin-top: 60px !important;
}
.margin-top-70 {
  margin-top: 70px !important;
}
.margin-top-80 {
  margin-top: 80px !important;
}
.margin-top-90 {
  margin-top: 90px !important;
}
.margin-top-100 {
  margin-top: 100px !important;
}
