.clear-padding {
  padding: 0 !important;
}

.clear-padding-left {
  padding-left: 0 !important;
}

.clear-padding-right {
  padding-right: 0 !important;
}

.padded {
  padding: 5px;
}

.padded-lg {
  padding: 10px;
}

.padded-xl {
  padding: 15px !important;
}

.padded-xxl {
  padding: 20px !important;
}

.padded-xxxl {
  padding: 25px !important;
}

.clear-vertical-padding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.clear-horizontal-padding {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.padded-top {
  padding-top: 5px !important;
}

.padded-top-7px {
  padding-top: 7px !important;
}

.padded-top-lg {
  padding-top: 10px !important;
}

.padded-top-xl {
  padding-top: 15px !important;
}

.padded-top-xxl {
  padding-top: 20px !important;
}

.clear-padded-bottom {
  padding-bottom: 0 !important;
}

.padded-bottom {
  padding-bottom: 5px !important;
}

.padded-bottom-xl{
  padding-bottom: 15px !important;
}

.padded-bottom-xxl{
  padding-bottom: 20px !important;
}

.padded-bottom-xxxl{
  padding-bottom: 30px !important;
}

.padded-right {
  padding-right: 10px !important;
}

.padded-right-sm {
  padding-right: 5px !important;
}

.padded-left-3 {
  padding-left: 3px !important;
}

.padded-left-sm {
  padding-left: 5px !important;
}

.padded-left {
  padding-left: 10px !important;
}

.padded-left-lg {
  padding-left: 10px !important;
}

.padded-left-xl {
  padding-left: 15px !important;
}

.padded-left-xxl {
  padding-left: 20px !important;
}

.padding-right-lg {
  padding-right: 10px;
}

.padding-right-xl {
  padding-right: 15px;
}

.padding-right-xxl {
  padding-right: 20px;
}

.pa-tb {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pa-lr-lg {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.pa-lr-3-px {
  padding-left: 3px !important;
  padding-right: 3px !important;
}

.pa-lr-xl {
  padding-left: 15px;
  padding-right: 15px;
}

.pa-lr-xxl {
  padding-left: 20px;
  padding-right: 20px;
}

.pa-tb-lg {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pa-tb-xl {
  padding-top: 15px;
  padding-bottom: 15px;
}

.no-padding-imp{
  padding: 0 !important;
}

.p-y-20 {
  padding: 15px 0;
}

.p-y-6 {
  padding-top: 6px;
  padding-bottom: 6px;
}

.p-x-12 {
  padding-left: 12px;
  padding-right: 12px;
}
