.w-60{
  width: 60px;
}

.w-80{
  width: 80px;
}

.w-95{
  width: 95px;
}

.w-100{
  width: 100px;
}

.w-120{
  width: 120px;
}

.w-130{
  width: 130px;
}

.w-150{
  width: 150px;
}

.w-160{
  width: 160px;
}

.w-170{
  width: 170px;
}

.w-180{
  width: 180px;
}

.w-200{
  width: 200px;
}

.w-210{
  width: 210px;
}

.w-260{
  width: 260px;
}

.w-280{
  width: 280px;
}

.w-300{
  width: 300px;
}

.w-320{
  width: 320px;
}

.w-350{
  width: 350px;
}

.w-360 {
  width: 360px;
}

.w-400 {
  width: 400px;
}

.max-w-200 {
  max-width: 200px;
}

.max-w-250 {
  max-width: 250px;
}

.max-w-320 {
  max-width: 320px;
}

.max-w-340 {
  max-width: 340px;
}

.max-w-360 {
  max-width: 360px;
}

.max-w-400 {
  max-width: 400px;
}

.width-13-pct{
  width: 13%;
}

.width-70-pct{
  width: 70%;
}

.width-29-pct{
  width: 29%;
}

.width-95-pct{
  width: 95%;
}

.width-90-pct{
  width: 90%;
}

.max-w-f-c {
  max-width: 350px;
}

.max-w-100-p {
  max-width: 100%;
}

.width-24-pct{
  width: 24%;
}

.width-75-pct{
  width: 75%;
}

.width-100-pct{
  width: 100%;
}

.width-50-pct{
  width: 50%;
}

.width-18-pct-imp{
  width: 18% !important;
}

.min-width-fit-content {
  min-width: fit-content !important;
}
