.tag-wrapper {
  border-radius: 4px;
}
.default {
  background-color: #f1f1f1;
  color: #555555;
}
.in-progress {
  background-color: #f57c00;
  color: white;
}
div.label-default {
  padding: none !important;
}

::ng-deep .label-default {
  padding: 0.2em 0.6em 0.3em !important;
}
.label-orange {
  background-color: var(--dark-orange);
}
.label-warning {
  background-color: var(--warning-dark);
}
.label-info {
  background-color: var(--light-blue-tint);
}
