<div class="panel panel-default">
  <div class="panel-body">
    <div col="12" class="space-on-bottom-xxl padded-bottom">
      <h3 class="text-primary space-on-top space-on-bottom-xxl">My Account Security</h3>
      <hr class="clear-margin">
    </div>

    <ul col="12" class="list-unstyled clear-horizontal-padding">
      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>Do I need a login and password?</strong>
          </p>
          <p class="faq-answer">Yes, for enhanced security, everyone on the DiligenceVault platform needs a login and password. In addition to other features and protocols that DiligenceVault has in place to protect its community, a password and login help protect your information as well as that of your business partners. Features such as passwords and logins help make the DiligenceVault platform more secure than email-based information exchange.
          </p>
        </div>

        <!--<div class="col-md-2">
          <button btn-type="default" chardin="vm.team_member_management_config">
            Show me how &raquo;
          </button>
        </div>-->
      </li>

      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>Can I have multi-factor authentication?</strong>
          </p>
          <p class="faq-answer">
            Yes, DiligenceVault has multi factor authentication in place. Go to My Settings from top right corner, and then click on Security sub menu to set this up.
          </p>
        </div>

        <!--<div class="col-md-2">
          <button btn-type="default" chardin="vm.team_member_management_config">
            Show me how &raquo;
          </button>
        </div>-->
      </li>
    </ul>
  </div>
</div>

