<div class="panel panel-default">
  <div class="panel-body">
    <div col="12" class="space-on-bottom-xxl padded-bottom">
      <h3 class="text-primary space-on-top space-on-bottom-xxl">Form ADV Filings</h3>
      <hr class="clear-margin">
    </div>



    <ul col="12" class="list-unstyled clear-horizontal-padding">
      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>What is Form ADV menu all about?</strong>
          </p>
          <p class="faq-answer">
            You can review SEC ADV filings for firms of interest, including your peers, your investment counterparts and yourself via this module. You can create your sub portfolio by tracking firms of interest, and can also subscribe to alerts to be notified when these firms udpate their filings.
          </p>
        </div>

      </li>

      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>What information is available in the ADV filing?</strong>
          </p>
          <p class="faq-answer">
            Form ADV includes a lot of information about the firms.. starting with regulatory assets, firm size, employees, funds and SMAs, service providers, investor base, key risk flags, and more. You can access snapshot profiles, listing of service providers, key ownership interests, listing of funds and more via this module. 
          </p>
        </div>

      </li>



    </ul>

  </div>
</div>

