<div class="panel panel-default">
  <div class="panel-heading">
    <h5 class="panel-title">
      <icon name="compare" class="align-middle"></icon>
      <span class="align-middle">Compare Products</span>
    </h5>
  </div>

  <div class="panel-body">
    <p>
      Easily compare historical responses for a given product, or multiple products side by side.
    </p>

    <p><strong>Apples to apples?</strong></p>

    <ol>
      <li>Hover over "Analyze" in the menubar</li>
      <li>Click "Compare" to get started</li>
    </ol>

    <div class="text-center">
      <button btn-type="default" chardin="vm.compare_chardin_config">
        Show me how &raquo;
      </button>
    </div>
  </div>
</div>
