<div class="panel panel-default">
  <div class="panel-heading">
    <h5 class="panel-title">
      <icon name="dash" class="align-middle"></icon>

      <span class="align-middle">Dashboard</span>
    </h5>
  </div>

  <div class="panel-body">
    <p>
      We call dashboard, the "dash" to sound cool. It hosts some important analytics to give you a good insight of your platform activities.
    </p>

    <p><strong>Peeking at the Dash</strong></p>

    <ul>
      <li>Click the "Dash" in the menu</li>
    </ul>
  </div>
</div>
