<div class="panel panel-default">
  <div class="panel-body">
    <div col="12" class="space-on-bottom-xxl padded-bottom">
      <h3 class="text-primary space-on-top space-on-bottom-xxl">Documents / Attachments</h3>
      <hr class="clear-margin">
    </div>



    <ul col="12" class="list-unstyled clear-horizontal-padding">
      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>What types of attachments are supported?</strong>
          </p>
          <p class="faq-answer">You can upload the following file types with upto 50MB each:</p>
          <ol>
            <li>Document (doc, docx, pdf)</li>
            <li>Excel (xls, xlsx)</li>
            <li>Presentation (ppt, pptx, pps, ppsx, key)</li>
            <li>Images (png, jpeg, jpg)</li>
            <li>Outlook message (msg)</li>
          </ol>
        </div>
      </li>

      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>How do I attach a document?</strong>
          </p>
          <p  class="faq-answer">
            If the questionnaire asks for an attachment, click on the Upload and pick attachments to upload. If you wish to add attachments not requested, navigate to Documents tab and click on "Add New" and populate the fields.
          </p>
        </div>

      </li>

      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>How do I open or download an attachment? When I click on the file name, it doesn't open or download</strong>
          </p>
          <p  class="faq-answer">
            Please check that you do not have a pop-up blocker active. You will see a red alert dot in your browser bar indicating that the document is blocked. You can select to download the document. But since you trust us, you can select the radio button that says always download from diligencevault.com :).
          </p>
        </div>

      </li>

      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>How do I update a document version?</strong>
          </p>
          <p class="faq-answer">
            Navigate to Documents tab and click on the document. You can then access "Update Document" menu to add a new version of the document.
          </p>
        </div>

      </li>

      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>How do I delete a document?</strong>
          </p>
          <p class="faq-answer">
            Navigate to Documents tab and click on the document. You can then access "Delete Document" to delete a document.
          </p>
        </div>

      </li>

      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>How do I share a document?</strong> <span class="space-on-left badge badge-success"
                                                                     uib-tooltip="This is a Premium feature">PREMIUM</span>
          </p>
          <p class="faq-answer">
            Navigate to Documents tab and click on the document. You can then access "Share Document" and then select the group of firms or individual firm with which you'd like to share the document. You can also Share the document when you are attaching a document.
          </p>
        </div>
      </li>

      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>How do I mark a document as reviewed?</strong>
          </p>
          <p class="faq-answer">
            Navigate to Documents tab and click on the document. You can then access "Review Document" to mark a document as reviewed.
          </p>
        </div>

      </li>

      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>Can I add an internal note for the document?</strong>
          </p>
          <p class="faq-answer">
            Yes. Navigate to Documents tab and click on the document. You can then access "Add Note" to add internal notes for a document.
          </p>
        </div>

      </li>

      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>How do I search for a document?</strong>
          </p>
          <p class="faq-answer">
            You can search by name, document type and as of dates from the Documents menu. Keyword search inside the content of the document is enabled for <span class="space-on-left badge badge-success"
                                                                     uib-tooltip="This is a Premium feature">PREMIUM</span> subscribers.
          </p>
        </div>

      </li>

      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>How do I tag a document?</strong>
          </p>
          <p class="faq-answer">
            Navigate to Documents tab and click on the document. You can then access "Update Document" to edit tags for a document.
          </p>
        </div>

      </li>
    </ul>

  </div>
</div>

