<div class="panel panel-default">
  <div class="panel-body">
    <div col="12" class="space-on-bottom-xxl padded-bottom">
      <h3 class="text-primary space-on-top space-on-bottom-xxl">Due diligence Project</h3>
      <hr class="clear-margin">
    </div>

    <ul col="12" class="list-unstyled clear-horizontal-padding">
      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>Where do I see an information request from investors? And what do I do with it? How do I accept an investor request?</strong>
          </p>
          <p class="faq-answer">You will see these under the Diligence menu, Projects tab. The sub-menu for Invites shows you your incoming requests and gives you the option to Accept or Decline.
          </p>
        </div>

        <!--<div class="col-md-2">
          <button btn-type="default" chardin="vm.team_member_management_config">
            Show me how &raquo;
          </button>
        </div>-->
      </li>

      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>How do I create an internal / standard DDQ?</strong><span class="space-on-left badge badge-success" uib-tooltip="This is a Premium feature">PREMIUM</span>
          </p>
          <p class="faq-answer">Navigate to New > Internal DDQ. Pick a template and associate a due date to get started.
          </p>
        </div>
      </li>

      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>Where do I find latest standard DDQ for the firm or a product?</strong><span class="space-on-left badge badge-success" uib-tooltip="This is a Premium feature">PREMIUM</span>
          </p>
          <p class="faq-answer">Standard DDQs are associated with products. You can navigate to a product, and click on the DDQ tab to access these. In addition, in-progress DDQ is available under Diligence > Projects.
          </p>
        </div>
      </li>

      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>How do I digitize investors request?</strong><span class="space-on-left badge badge-success" uib-tooltip="This is a Premium feature">PREMIUM</span>
          </p>
          <p class="faq-answer">Navigate to New > Investor Request. Review the mapping of sections / questions and also change type of question, i.e. textbox, table, et al. Next assign a product and investor if required and get started. 
          </p>
        </div>
      </li>

      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>What if the investor request has duplicate questions? Can I remove these?</strong><span class="space-on-left badge badge-success" uib-tooltip="This is a Premium feature">PREMIUM</span>
          </p>
          <p class="faq-answer">Yes, simply uncheck question checkbox in the review step, and this question will not be included in the final form.
          </p>
        </div>
      </li>

      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>Is there a way to add additional comments for objective questions?</strong><span class="space-on-left badge badge-success" uib-tooltip="This is a Premium feature"></span>
          </p>
          <p class="faq-answer">Yes, please look for <span class="label label-info">+</span> button next to each question and response to add a comment to qualify your answer for the investor. The button will appear when you navigate to the question.
          </p>
        </div>
      </li>

      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>Is there a way to look section by section only without scrolling into other sections?</strong>
          </p>
          <p class="faq-answer">The segregation is at parent section level as they are typically different topics.<br /><br />On the other hand, the sub sections are a long scroll to minimize clicks, as generally same SME will be looking at it. It's a balance between usability and functionality.
          </p>
        </div>
      </li>

      <!--<li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>How do I send our DDQ to an investor?</strong><span class="space-on-left badge badge-success"
                                                                     uib-tooltip="This is a Premium feature">PREMIUM</span>
          </p>
          <p class="faq-answer">
          </p>
        </div>
      </li>-->

      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>How do I assign question / sections to team members?</strong>
          </p>
          <p class="faq-answer">Click on the person icon next to the section name, as well as on the right of each question and select a team member. They will receive a notification, and you can track status of the assignments in the Assignment tab
          </p>
        </div>

        <!--<div class="col-md-2">
          <button btn-type="default" chardin="vm.team_member_management_config">
            Show me how &raquo;
          </button>
        </div>-->
      </li>

      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>Can I review revisions?</strong>
          </p>
          <p class="faq-answer">Next to each question, you can see revision history and can restore different versions. The Revision tab compiles all the revisions on a questionnaire for an easier view, which is handy for final review, including legal and compliance sign-offs.
          </p>
        </div>

        <!--<div class="col-md-2">
          <button btn-type="default" chardin="vm.team_member_management_config">
            Show me how &raquo;
          </button>
        </div>-->
      </li>


      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>How does Draft Response work?</strong>
          </p>
          <p class="faq-answer">Draft response indicates to everyone who sees it that the response is a draft, a work in progress. In any case, the investor will not be able to see any responses until you submit the completed questionnaire to the investor.
          </p>
        </div>

        <!--<div class="col-md-2">
          <button btn-type="default" chardin="vm.team_member_management_config">
            Show me how &raquo;
          </button>
        </div>-->
      </li>

      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>When is the investor able to view the information we share??</strong>
          </p>
          <p class="faq-answer">Only when you have completed the project and hit Submit is the investor able to see your info, not before. Your information is completely private for your team until you submit it.
          </p>
        </div>

        <!--<div class="col-md-2">
          <button btn-type="default" chardin="vm.team_member_management_config">
            Show me how &raquo;
          </button>
        </div>-->
      </li>

      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>Is there any way I can change an answer once I have submitted a questionnaire to the investor?</strong>
          </p>
          <p class="faq-answer">Yes! Information can change, and mistakes can happen. In this case, you may Restart the request. Go to the Diligence menu to find the submitted project, then go to the Summary tab and click on the X to restart the project.
          </p>
        </div>

        <!--<div class="col-md-2">
          <button btn-type="default" chardin="vm.team_member_management_config">
            Show me how &raquo;
          </button>
        </div>-->
      </li>

      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>How can I ask for an extension of my due date?</strong>
          </p>
          <p class="faq-answer">Under the Diligence menu, select your project. Then click on the Summary tab to find the Request Extension button. You will be able to provide a reason and propose a new due date.
          </p>
        </div>

        <!--<div class="col-md-2">
          <button btn-type="default" chardin="vm.team_member_management_config">
            Show me how &raquo;
          </button>
        </div>-->
      </li>


      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>What are follow-ups?</strong>
          </p>
          <p class="faq-answer">This is when the investor wants more information from you. You will find this under the Diligence menu for any Project under the Questionnaire tab. When an investor wants more information, this can be significant, so Follow-ups is one of the menu items at the top of the Questionnaire screen. You will instantly see if you have any follow-ups, and you can filter the questionnaire to find your follow-ups.
          </p>
        </div>

        <!--<div class="col-md-2">
          <button btn-type="default" chardin="vm.team_member_management_config">
            Show me how &raquo;
          </button>
        </div>-->
      </li>

      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>Do I have the ability to print on the DiligenceVault platform or to export documents?</strong>
          </p>
          <p class="faq-answer">Yes! Many people find it helpful to see a printout. For any Questionnaire you are working on, when you mouse over More Actions, you will find Preview. When you click on Preview, you will see options to print the whole questionnaire, or to filter by and print those questions that are answered or unanswered only. You can print what is relevant for you – either in hard copy on paper or you can just create a pdf if you prefer.
          </p>
        </div>

        <!--<div class="col-md-2">
          <button btn-type="default" chardin="vm.team_member_management_config">
            Show me how &raquo;
          </button>
        </div>-->
      </li>



      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>Can investors see revisions?</strong>
          </p>
          <p class="faq-answer">That depends! If you are working on a questionnaire that you have not yet shared with the investor, they will see nothing but your final edited answers. If you are responding to a questionnaire that you have completed previously, and you change your answer to any given question, the investor will be able to see the change.
          </p>
        </div>

        <!--<div class="col-md-2">
          <button btn-type="default" chardin="vm.team_member_management_config">
            Show me how &raquo;
          </button>
        </div>-->
      </li>


      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>What are internal notes and to-dos?</strong>
          </p>
          <p class="faq-answer">These features are found within Questionnaires and they exist to enhance collaboration and communication among your team. They are private to your team and are not shared with the investor. On the right side of the screen you will see three dots associated with any given question. These allow you to add Notes, or supporting comments, regarding a question, or stipulate a To-do (or task), among other things. You can alert any of your team members to this information with @.
          </p>
        </div>

        <!--<div class="col-md-2">
          <button btn-type="default" chardin="vm.team_member_management_config">
            Show me how &raquo;
          </button>
        </div>-->
      </li>
    </ul>

  </div>
</div>

