<div class="panel panel-default">
  <div class="panel-body">
    <div col="12" class="space-on-bottom-xxl padded-bottom">
      <h3 class="text-primary space-on-top space-on-bottom-xxl">Preferences</h3>
      <hr class="clear-margin">
    </div>

    <ul col="12" class="list-unstyled clear-horizontal-padding">
      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>What are design preferences?</strong>
          </p>
          <p class="faq-answer">
            Now you can bring your brand preferences to DiligenceVault. Upload your logo, add your colors (up to 10). This will ensure that any output from DiligenceVault matches your brand colors and includes your logo.
          </p>
        </div>
      </li>

      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>What are firm preferences?</strong>
          </p>
          <p class="faq-answer">
            There are customizable elements for your firm ranging from password reset requirements, notifications, disclosure texts, and regulatory alert frequencies and default views.
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>

