<div class="panel panel-default">
  <div class="panel-body">
    <div col="12" class="space-on-bottom-xxl padded-bottom">
      <h3 class="text-primary space-on-top space-on-bottom-xxl">Manage Products</h3>
      <hr class="clear-margin">
    </div>

    <ul col="12" class="list-unstyled clear-horizontal-padding">
      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>How do I create new products?</strong><span class="space-on-left badge badge-success"
                                                                     uib-tooltip="This is a Premium feature">PREMIUM</span>
          </p>
          <p class="faq-answer">
            Hover over "New" in the menubar, and click "Product" to get started
          </p>
        </div>
      </li>

      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>How do I modify existing products?</strong><span class="space-on-left badge badge-success"
                                                                     uib-tooltip="This is a Premium feature">PREMIUM</span>
          </p>
          <p class="faq-answer">
            Hover over "Manage" in the menubar, and click "Products" to access the product list. Next, pick a product that you want to modify and edit the details
          </p>
        </div>
      </li>

      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>How do I add another shareclass or fund series?</strong><span class="space-on-left badge badge-success"
                                                                     uib-tooltip="This is a Premium feature">PREMIUM</span>
          </p>
          <p class="faq-answer">
            Hover over "Manage" in the menubar, and click "Products" to access the product list. Next, pick a product, and you will be taken to AUM and Track Record tab. Here you can edit a shareclass or add a new shareclass and populate AUM and performance history.
          </p>
        </div>
      </li>


      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>How do I add internal DDQ for a product?</strong><span class="space-on-left badge badge-success"
                                                                     uib-tooltip="This is a Premium feature">PREMIUM</span>
          </p>
          <p class="faq-answer">
            Hover over "Manage" in the menubar, and click "Products" to access the product list. Next, pick a product, and navigate to Internal DDQ tab. Here you can edit existing DDQ project or add a new one.
          </p>
        </div>
      </li>
    </ul>

  </div>
</div>