<div class="panel panel-default">
  <div class="panel-body">
    <div col="12" class="space-on-bottom-xxl padded-bottom">
      <h3 class="text-primary space-on-top space-on-bottom-xxl">Your Questions & Answer Bank</h3>
      <hr class="clear-margin">
    </div>



    <ul col="12" class="list-unstyled clear-horizontal-padding">
      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>What is Question / Answer Bank?</strong>
          </p>
          <p class="faq-answer">
            This is a repository of all your questions and answers across investors requests on the platform. It gives you a reference point for historical requests, along with audit trail of who answered what and when. Access this via Diligence > Q & A Bank
          </p>
        </div>
      </li>
    </ul>

  </div>
</div>

