<div class="panel panel-default">
  <div class="panel-body">
    <div col="12" class="space-on-bottom-xxl padded-bottom">
      <h3 class="text-primary space-on-top space-on-bottom-xxl">Team Management</h3>
      <hr class="clear-margin">
    </div>



    <ul col="12" class="list-unstyled clear-horizontal-padding">

      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>How do I view who else from my firm / team has access to DiligenceVault?</strong>
          </p>
          <p class="faq-answer">
            Go to the top right corner, and select "Team Members". This page will show you list of all team members and their access levels. 
          </p>
        </div>

        <!--<div class="col-md-2">
          <button btn-type="default" chardin="vm.team_member_management_config">
            Show me how &raquo;
          </button>
        </div>-->
      </li>


      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>How do I add team members to the DiligenceVault platform?</strong>
          </p>
          <p class="faq-answer">
            Go to the top right corner, and select "Team Members". Once on the page, please click on "+ Add New" button. The information fields should be self-explanatory. The more the merrier!
          </p>
        </div>

        <!--<div class="col-md-2">
          <button btn-type="default" chardin="vm.team_member_management_config">
            Show me how &raquo;
          </button>
        </div>-->
      </li>

      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>How do change access level of team members?</strong>
          </p>
          <p class="faq-answer">
            Go to the top right corner, and select "Team Members". Once on the page, navigate to the team member and change access level to Admin, Read Only or Read Write.
          </p>
        </div>

        <!--<div class="col-md-2">
          <button btn-type="default" chardin="vm.team_member_management_config">
            Show me how &raquo;
          </button>
        </div>-->
      </li>

      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>How do I re-send invitation to join the platform?</strong>
          </p>
          <p class="faq-answer">
            Go to the top right corner, and select "Team Members". Once on the page, navigate to the team member and click on the refresh icon to re-send the invite.
          </p>
        </div>

        <!--<div class="col-md-2">
          <button btn-type="default" chardin="vm.team_member_management_config">
            Show me how &raquo;
          </button>
        </div>-->
      </li>


      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>How do I unlock a user?</strong>
          </p>
          <p class="faq-answer">
            What if I get an alert about unlocking a user? Go to the top right corner, and select "Team Members". This page will show you list of all team members and the team member who is locked out would have a red border. Click on the open lock icon to re-enable your team members access. They will get an email that their account has been unlocked.
          </p>
        </div>

        <!--<div class="col-md-2">
          <button btn-type="default" chardin="vm.team_member_management_config">
            Show me how &raquo;
          </button>
        </div>-->
      </li>

      
      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>What if I get an alert about approving a user? How do I approve a user's access?</strong>
          </p>
          <p class="faq-answer">
            From time to time certain users who join the platform would require approval from firm's admin for security reasons. Go to the top right corner, and select "Team Members". This page will show you list of all team members and the team member whose access is pending approval would have a light orange shade. Click on the check icon to approve your team members access. They will get an approval email.
          </p>
        </div>

        <!--<div class="col-md-2">
          <button btn-type="default" chardin="vm.team_member_management_config">
            Show me how &raquo;
          </button>
        </div>-->
      </li>

      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>How do I remove a user from the team?</strong>
          </p>
          <p class="faq-answer">
            Go to the top right corner, and select "Team Members". Once on the page, navigate to the team member and click on the trash can icon to remove the user.
          </p>
        </div>

        <!--<div class="col-md-2">
          <button btn-type="default" chardin="vm.team_member_management_config">
            Show me how &raquo;
          </button>
        </div>-->
      </li>
    </ul>

  </div>
</div>

