<div class="panel panel-default">
  <div class="panel-body">
    <div col="12" class="space-on-bottom-xxl padded-bottom">
      <h3 class="text-primary space-on-top space-on-bottom-xxl">Questionnaire & DDQ Templates</h3>
      <hr class="clear-margin">
    </div>

    <ul col="12" class="list-unstyled clear-horizontal-padding">
      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>How do I create new templates?</strong><span class="space-on-left badge badge-success"
                                                                     uib-tooltip="This is a Premium feature">PREMIUM</span>
          </p>
          <p class="faq-answer">
            Hover over "New" in the menubar, and click "Template" to get started
          </p>
        </div>
      </li>

      <li col="12" class="faq-item">
        <div col="12">
          <p>
            <strong>How do I access existing templates?</strong><span class="space-on-left badge badge-success"
                                                                     uib-tooltip="This is a Premium feature">PREMIUM</span>
          </p>
          <p class="faq-answer">
            Hover over "Diligence" in the menubar, and click "Template" to get started
          </p>
        </div>
      </li>
    </ul>

  </div>
</div>