@navbar-height: 40px;
@navbar-default-color:             rgba(255,255,255,.8);
@navbar-default-bg:                darken(@brand-primary, 10%);
@navbar-default-link-color:        rgba(255, 255, 255, 0.8);
@navbar-default-link-hover-bg:     darken(@navbar-default-bg, 5%);
@navbar-default-link-hover-color:  white;
@navbar-default-link-active-bg:    darken(@navbar-default-link-hover-bg, 5%);
@navbar-default-link-active-color: white;
@panel-border-radius:              0;
@input-border-focus:               lighten(@brand-primary, 25%);
@navbar-default-border:            rgba(0,0,0,.15);
@grid-gutter-width:                10px;

@rating-very-poor: #c9302c;
@rating-poor: #F0592B;
@rating-average: #F6D83E;
@rating-good: #5bc0de;
@rating-excellent: #5cb85c;

@sidebar-nav-width: 200px;
@sidebar-nav-collapsed-width: 75px;
@dv-orange: #F0592B;
@dv-purple: #9b59b6;
@placeholder-text-color: #9b9b9b;
@dv-yellow: #F6D83E;
@dv-sky-blue: #EDF6F6;
@modal-xl: 1200px;

@handsontable-zindex: 103; //from their sourcecode
@chosen-drop-zindex: 1010; //from their sourcecode
@mask-zindex: @handsontable-zindex + 1;
@menubar-zindex: @handsontable-zindex + 1;
@sidebar-popup-zindex: @handsontable-zindex + 1;
@dv-alert-navbar-zindex: @chosen-drop-zindex - 1;
@menu-reveal-zindex: @dv-alert-navbar-zindex + 1;

@dv-orange-900: #AD2B00;