.info-main {
  padding: 2%;
  font-size: 12px;
}
.preview-background {
  margin-top: 15px;
  border-radius: 4px;
  background: #fff;
  width: 100%;
}
.preview-response {
  color: #27b098;
}
.icon-link:hover {
  cursor: pointer;
  color: #16a1ab !important;
}

.preview {
  display: flex;
  padding: 10px 15px;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #d3eeff;
  background: #f2faff;
}
.preview-generate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
}
