<div class="panel panel-default">
  <div class="panel-heading">
    <h5 class="panel-title">Change Password</h5>
  </div>
  <div class="panel-body">
    <form
      novalidate
      class="form-horizontal"
      [formGroup]="changePasswordForm"
      autocomplete="off"
    >
      <dv-form-element
        fieldName="Current Password"
        [modelController]="changePasswordForm.get('passwordControl')"
        label="Current Password"
        [elementCol]="'4'"
        [errorId]="'currentPasswordError'"
      >
        <input
          [id]="'passwordControl'"
          [type]="passwordElementType"
          class="form-control"
          placeholder="Current Password"
          formControlName="passwordControl"
          autocomplete="off"
        />
        <a
          [ngStyle]="{
            right:
              changePasswordForm.get('passwordControl').touched &&
              changePasswordForm.get('passwordControl')?.valid
                ? '32px'
                : '12px'
          }"
          class="password-style-element clickable"
          (click)="showPasswordToggle()"
        >
          <span appIcon name="eye" *ngIf="passwordNotVisible"></span>
          <span appIcon name="view-hide" *ngIf="!passwordNotVisible"></span>
        </a>
        <div
          id="currentPasswordError"
          *ngIf="
            changePasswordForm.get('passwordControl').touched &&
            changePasswordForm.get('passwordControl').invalid
          "
          class="text-danger"
        >
          Current Password is required
        </div>
      </dv-form-element>
      <dv-form-element
        fieldName="Password"
        [modelController]="changePasswordForm.get('NewPasswordControl')"
        label="New Password"
        [elementCol]="'4'"
        [errorId]="'passwordError'"
      >
        <input
          type="password"
          class="form-control"
          id="NewPasswordControl"
          placeholder="New Password"
          [type]="passwordElementType2"
          formControlName="NewPasswordControl"
          placement="right"
          triggers="focus"
          containerClass="password-criteria-popover"
          popoverTitle="Password Criteria"
          [popover]="popTemplate"
          #pop="bs-popover"
          autocomplete="off"
        />
        <a
          [ngStyle]="{
            right:
              changePasswordForm.get('NewPasswordControl').touched &&
              changePasswordForm.get('NewPasswordControl')?.valid
                ? '32px'
                : '12px'
          }"
          class="password-style-element clickable"
          (click)="showPasswordToggle2()"
        >
          <span appIcon name="eye" *ngIf="passwordNotVisible2"></span>
          <span appIcon name="view-hide" *ngIf="!passwordNotVisible2"></span>
        </a>
        <div id="passwordError">
          <div
            *ngIf="
              changePasswordForm.get('NewPasswordControl').touched &&
              changePasswordForm.get('NewPasswordControl').errors?.required
            "
            class="text-danger"
          >
            Password is required
          </div>
          <div
            *ngIf="
              changePasswordForm.get('NewPasswordControl').touched &&
              changePasswordForm.get('NewPasswordControl').errors?.lengthRange
            "
            class="text-danger"
          >
            Password needs to be between 8 and 16 characters long
          </div>
          <div
            *ngIf="
              changePasswordForm.get('NewPasswordControl').touched &&
              changePasswordForm.get('NewPasswordControl').errors
                ?.uppercaseRequired
            "
            class="text-danger"
          >
            At least one uppercase letter is required
          </div>
          <div
            *ngIf="
              changePasswordForm.get('NewPasswordControl').touched &&
              changePasswordForm.get('NewPasswordControl').errors
                ?.lowercaseRequired
            "
            class="text-danger"
          >
            At least one lowercase letter is required
          </div>
          <div
            *ngIf="
              changePasswordForm.get('NewPasswordControl').touched &&
              changePasswordForm.get('NewPasswordControl').errors
                ?.symbolRequired
            "
            class="text-danger"
          >
            At least one symbol is required
          </div>
          <div
            *ngIf="
              changePasswordForm.get('NewPasswordControl').touched &&
              changePasswordForm.get('NewPasswordControl').errors
                ?.numberRequired
            "
            class="text-danger"
          >
            At least one number is required
          </div>
          <div
            *ngIf="
              changePasswordForm.get('NewPasswordControl').touched &&
              changePasswordForm.get('NewPasswordControl').errors
                ?.whiteSpaceNotRequired
            "
            class="text-danger"
          >
            Should not contain whitespaces
          </div>
        </div>
      </dv-form-element>
      <dv-form-element
        [modelController]="changePasswordForm.get('confirmPasswordControl')"
        label="Password Confirmation"
        [elementCol]="'4'"
        [errorId]="'confirmPasswordError'"
      >
        <input
          [id]="'confirmPasswordControl'"
          class="form-control"
          [type]="passwordElementType3"
          placeholder="Confirm Password"
          formControlName="confirmPasswordControl"
        />
        <a
          [ngStyle]="{
            right:
              changePasswordForm.get('NewPasswordControl')?.value &&
              changePasswordForm.get('confirmPasswordControl')?.value &&
              changePasswordForm.get('NewPasswordControl')?.value ===
                changePasswordForm.get('confirmPasswordControl')?.value
                ? '32px'
                : '12px'
          }"
          class="password-style-element clickable"
          (click)="showPasswordToggle3()"
        >
          <span appIcon name="eye" *ngIf="passwordNotVisible3"></span>
          <span appIcon name="view-hide" *ngIf="!passwordNotVisible3"></span>
        </a>
        <div id="confirmPasswordError">
          <div
            *ngIf="
              changePasswordForm.get('confirmPasswordControl').touched &&
              changePasswordForm.get('confirmPasswordControl').errors?.required
            "
            class="text-danger"
          >
            Confirm Password is required
          </div>
          <div
            *ngIf="
              changePasswordForm.get('confirmPasswordControl').touched &&
              changePasswordForm.get('confirmPasswordControl').errors
                ?.validateEquals
            "
            class="text-danger"
          >
            Passwords do not match
          </div>
        </div>
      </dv-form-element>
      <div class="form-group">
        <div col="4" offset="3">
          <dv-button
            [loader]="saving"
            (onClick)="submit()"
            type="submit"
            class="minwidth"
          >
            Change Password
          </dv-button>
        </div>
      </div>
    </form>
  </div>
</div>
<ng-template #popTemplate>
  <div class="password-criteria">
    <div class="criteria-container">
      <ul class="criteria-list list-unstyled">
        <li
          class="text-muted"
          [ngClass]="handleError().islength ? '' : 'green-check'"
        >
          <span class="icon"><span appIcon name="check-circle"></span></span>
          <span class="desc">
            {{ errorMessageMap.passwordRequiredLength }}
          </span>
        </li>
        <li
          class="text-muted"
          [ngClass]="handleError().isUpperCase ? '' : 'green-check'"
        >
          <span class="icon"><span appIcon name="check-circle"></span></span>
          <span class="desc">
            {{ errorMessageMap.passwordUppercaseChar }}
          </span>
        </li>
        <li
          class="text-muted"
          [ngClass]="handleError().isLowerCase ? '' : 'green-check'"
        >
          <span class="icon"><span appIcon name="check-circle"></span></span>
          <span class="desc">
            {{ errorMessageMap.passwordLowercaseChar }}
          </span>
        </li>
        <li
          class="text-muted"
          [ngClass]="handleError().isSpecialChar ? '' : 'green-check'"
        >
          <span class="icon"><span appIcon name="check-circle"></span></span>
          <span class="desc">
            {{ errorMessageMap.passwordSpecialChar }}
          </span>
        </li>
        <li
          class="text-muted"
          [ngClass]="handleError().isNumber ? '' : 'green-check'"
        >
          <span class="icon"><span appIcon name="check-circle"></span></span>
          <span class="desc">
            {{ errorMessageMap.passwordNumber }}
          </span>
        </li>
        <li
          class="text-muted"
          [ngClass]="handleError().hasWhiteSpace ? '' : 'green-check'"
        >
          <span class="icon"><span appIcon name="check-circle"></span></span>
          <span class="desc">
            {{ errorMessageMap.passwordNoWhiteSpace }}
          </span>
        </li>
      </ul>
    </div>
  </div>
</ng-template>
