.locked-notification {
  padding: 15px 10px;
}
.rating-user {
  font-weight: lighter;
}
.conditional-span {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.hover-container:hover .conditional-span {
  opacity: 1;
}
.always-visible .conditional-span {
  opacity: 1;
}
.rating-item-container {
  display: flex !important;
}
.bulk-rating-icon {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
}
.score-display-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
