:host ::ng-deep .panel-group {
  margin-bottom: 0;
}
:host ::ng-deep .panel-group .panel {
  border-radius: 4px;
}
.hover-red:hover {
  color: #dc3545;
}
.move-icon-color {
  color: #bfbfbf;
}
.nested-panel {
  font-size: 13px;
}
.review-detail-multiple {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.activeaccordion ::ng-deep .panel-default > .panel-heading {
  color: #00ccff;
  border: 1px solid #00ccff;
  background: none !important;
}
.disabled {
  opacity: 0.5 !important;
  cursor: no-drop;
}

.trash-step {
  padding-top: 4px;
}
