<ng-container *ngIf="isTinyMceEditor">
  <app-tinymce-editor
    [tinyMceInit]="configObj"
    [isMentions]="isMentions"
    [mentionsList]="mentionsList"
    [value]="value"
    [isFlite]="isTrackChange"
    [wordLimit]="wordLimit"
    [imageSelector]="imageSelector"
    [focusOnInit]="focusOnInit"
    [isComments]="isComments"
    [isTrackingForFlite]="isTrackChangeEnabled"
    [isLite]="isLite"
    [enableAI]="enableAI"
    [id]="id"
    #tinymce
    [freeUser]="freeUser"
    [disabled]="disabled"
    [isDoubleToolbar]="isDoubleToolbar"
    (onChange)="handleChange($event)"
    (onTrackChange)="handleTrackChange($event)"
    (onAiButtonClick)="handleAiButton($event)"
    role="textbox"
    aria-multiline="true"
    aria-label="Text Editor"
  ></app-tinymce-editor>
</ng-container>
<ng-container *ngIf="!isTinyMceEditor">
  <app-editor
    class="max-width"
    [ckEditorInitConfig]="configObj"
    [isMentions]="isMentions"
    [mentionsList]="mentionsList"
    [isReadonly]="isReadonly"
    [imageSelector]="imageSelector"
    [isLite]="isLite"
    [wordLimit]="wordLimit"
    [focusOnInit]="focusOnInit"
    [enableAI]="enableAI"
    [id]="id"
    [uniqueQuestionId]="uniqueQuestionId"
    [freeUser]="freeUser"
    [isComments]="isComments"
    [isTrackChange]="isTrackChange"
    [isTrackChangeEnabled]="isTrackChangeEnabled"
    [isDoubleToolbar]="isDoubleToolbar"
    [value]="value"
    #ckeditor
    [literVersion]="literVersion"
    [disabled]="disabled"
    (onChange)="handleChange($event)"
    (onReviewCommentFocused)="handleReviewCommentFocused()"
    (onAiButtonClick)="handleAiButton($event)"
    (onTrackChange)="handleTrackChange($event)"
    (onAddReviewComment)="handleAddReviewComment($event)"
    role="textbox"
    aria-multiline="true"
    aria-label="Text Editor"
  ></app-editor>
</ng-container>
