<div class="panel panel-default sso-profile-page">
  <div class="panel-heading">
    <h5 class="panel-title">Firm Password Preferences</h5>
  </div>

  <div class="panel-body affix_bottom_parent">
    <div class="row clearfix">
      <div col="10">
        <form
          class="form-horizontal"
          [formGroup]="passwordPreferenceForm"
          (ngSubmit)="handleSubmit()"
          autocomplete="off"
        >
          <div id="js-firms-preferences">
            <div offset="2" class="offset-container">
              <h3 class="text-muted padded-top-xl">Password Policy</h3>
              <h5 class="text-info">
                Note: The policy will apply to all users.
              </h5>
              <dv-form-element
                [modelController]="
                  passwordPreferenceForm.get('password_expiration_frequency')
                "
                label="Set password reset frequency in days (typically 60 - 365 days)"
                [labelCol]="'7'"
                [elementCol]="'3'"
                [applyControlLabelClass]="false"
                [errorMessage]="
                  getErrorMessage(
                    'password_expiration_frequency',
                    'Password expiration frequency'
                  )
                "
              >
                <input
                  type="number"
                  id="password_expiration_frequency"
                  class="form-control"
                  formControlName="password_expiration_frequency"
                  aria-label="Set password reset frequency in days (typically 60 - 365 days)"
                />
              </dv-form-element>
              <dv-form-element
                [modelController]="
                  passwordPreferenceForm.get('password_reuse_limit')
                "
                label="Restrict # of historical password from reuse (typically 3-12)"
                [labelCol]="'7'"
                [elementCol]="'3'"
                [applyControlLabelClass]="false"
                [errorMessage]="
                  getErrorMessage(
                    'password_reuse_limit',
                    'Password reuse limit'
                  )
                "
                offset="2"
              >
                <input
                  type="number"
                  id="password_reuse_limit"
                  class="form-control"
                  formControlName="password_reuse_limit"
                  aria-label="Restrict # of historical password from reuse (typically 3-12)"
                />
              </dv-form-element>
            </div>
            <div
              col="10"
              offset="2"
              class="space-on-top-xl space-on-bottom-xl center"
            >
              <dv-button
                ariaLabel="Save Firm Password Preferences"
                [disabled]="passwordPreferenceForm.invalid || isSaving"
                btnType="primary"
                [loader]="isSaving"
                type="submit"
              >
                Save Firm Password Preferences
              </dv-button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
