<div class="container">
  <div class="row clearfix">
    <div class="authentication-form-wrapper">
      <div class="logo-wrapper logo-wrapper back_button_container pos-rel">
        <a
          class="clickable"
          (click)="goBackToEnterEmail()"
          *ngIf="!isInstructionsVisible"
          ><img
            src="https://img.icons8.com/ios/64/000000/circled-left-2.png"
            class="back_img"
            alt="back image"
        /></a>
        <img src="/assets/images/logo.png" alt="logo" class="logo" />
      </div>

      <form
        [formGroup]="emailForm"
        autocomplete="off"
        *ngIf="!isInstructionsVisible"
      >
        <div class="{{ type }}" *ngIf="messageShown">
          <p *ngFor="let message of alertMessage; let last = last">
            {{ message }}<span *ngIf="!last">.</span>
          </p>
        </div>

        <h4 class="desc">Find your DiligenceVault account</h4>

        <dv-form-element
          [modelController]="emailForm.get('userName')"
          labelPosition="top"
          elementCol="12"
        >
          <input
            type="text"
            class="form-control"
            formControlName="userName"
            placeholder="Enter your Email Address"
            id="userName"
          />
          <div
            *ngIf="
              emailForm.get('userName').touched &&
              emailForm.get('userName').errors?.required
            "
            class="text-danger"
          >
            Email is required
          </div>
          <div
            *ngIf="
              emailForm.get('userName').touched &&
              emailForm.get('userName').errors?.email
            "
            class="text-danger"
          >
            Please enter a valid email
          </div>
        </dv-form-element>

        <br /><br />
        <div
          class="captcha recaptchaContainer space-on-top space-on-bottom-xl col-md-12 captchCenter"
        >
          <div class="captcha">
            <re-captcha
              (resolved)="captchaResolved($event)"
              [siteKey]="siteKey"
            ></re-captcha>
          </div>

          <div *ngIf="showCaptchaError" class="text-danger space-on-top">
            Captcha is required
          </div>
        </div>

        <div>
          <dv-button
            btnWidth="100"
            btnClass="activate-btn"
            [loader]="loading"
            (onClick)="submit()"
            [disabled]="emailForm.invalid || !captchaResponse"
          >
            Reset Password
          </dv-button>
        </div>

        <div class="space-on-top-lg">
          <span
            >Having trouble?
            <a
              href="mailto:ask@diligencevault.com?subject=Help me with password reset"
              role="link"
              >Contact Us</a
            ></span
          >
        </div>
      </form>

      <ng-container *ngIf="isInstructionsVisible">
        <div
          class="text-info bg-info border-rounded-4 space-on-top-xl padded-xl"
        >
          <ul class="instruction-list clear-margin padding-left-20">
            <li class="instruction-list-item">
              A password reset link has been sent to {{ email }}
            </li>
            <li class="instruction-list-item">
              Did not receive the email? Check your spam/junk folder
            </li>
            <li class="instruction-list-item">
              If you still haven’t received the email, contact us at
              <a
                href="mailto:ask@diligencevault.com?subject=Help me with password reset"
                role="link"
                class="bold-text"
                >ask@diligencevault.com</a
              >
              for assistance
            </li>
          </ul>
        </div>
        <div class="space-on-top-xl text-align-right">
          <dv-button btnType="link" (onClick)="navigateToLogin()">
            Back to Login
          </dv-button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
