text-container > div > p {
  font: 1.2em "segoe ui", arial, sans-serif;
}

#report-container {
  width: 100%;
  height: 75vh;
}

footer > p {
  font: 1em "segoe ui", arial, sans-serif;
}

iframe {
  border: none;
}

@media only screen and (max-width: 574px) {
  #report-container {
    height: calc(0.5625 * 100vw); /* 16:9 aspect ratio */
  }
}

.advanced-report-export{
  .export-all{
    .checkbox{
      display: inline;
    }
  }
}