.disclaimerContainer{
  width: 80%;
  margin: 0 auto;
}

.disclaimerIcon{

}
.disclaimerIcon img{
  margin: 0 auto;
  margin-right: 5px;
}
.disc-icon-sm{
  width: 18px;
}
.disc-icon-md{
  width: 30px;
}
