.faq-section {
  .feature-help-block {
    .faq-item {
      padding: 0 0 5px 0;
      margin-bottom: 20px !important;
      .faq-answer {
        line-height: 1.5;
      }
    }
  }
}
.faqCollapse {
  .panel-group {
    margin-bottom: 5px !important;
  }
  .badge {
    transition: all ease 0.2s !important;
    background-color: @dv-dark-blue !important;
  }
  .question_text {
    color: #545454;
    transition: all ease 0.2s;
  }
  .panel-heading {
    background-color: #fff;
    transition: all ease 0.2s;
  }
  h3 {
    padding-top: 30px;
  }
  .accordion-selected {
    .badge {
      background-color: #fff !important;
      color: #126b82 !important;
    }
    .panel-heading {
      background-color: @dv-dark-blue !important;
    }
    .question_text {
      color: #fff;
    }
    .indicating-icons {
      i {
        color: #fff !important;
      }
    }
  }
  .indicating-icons {
    position: absolute;
    right: 0;
    top: 0;
  }
  .indicating-icons {
    i {
      color: #999999 !important;
    }
  }
}
.faq-container {
  width: 70%;
  margin: 0 auto;
}
.faqFooter {
  margin-top: 30px;
  padding: 11px;
  text-align: center;
  width: 100%;
}
.faqFooter {
  h4 {
    color: #444;
  }
}
.faqSearch {
  width: 45%;
}
.faqSearch {
  .form-control {
    height: 40px;
    border-radius: 33px;
  }
}
