.image-box {
  padding: 50px 0;
  width: 100%;

  input {
    display: none !important;
  }
}

.preview-panel {
  min-height: 222px;
}

.image-cropper {
  min-height: 300px;
}


.imgPreview{
  width:100%;
  min-height:300px;
  overflow:hidden;
  margin: 0 auto;
  text-align: center;
}
.image-cropper{
  img{
    max-width: 100%;
  }
}
.preview-image {
  display: block;
  margin: auto;
  border: 1px solid lightgrey;
  height: 340px;
}
.firmLogoDiv{
    height: 200px;
    width: 100%;
    text-align: center;
    img{
      max-width: 100%;
      max-height: 100%;
      margin: 0 auto;
      display: block;
    }
}
.width-100{width: 100%}

.manage-firm-modal {
  max-height: 550px;
  overflow-y: auto;
}
