.nudgeContainer{
  position: fixed;
  height: 100%;
  width: 100%;
  border: none;
  background:#f5f5f5;
  box-shadow: none;
  top: 0;
  left: 0;
  z-index: 99;
}
.background-image-nudge{
  opacity: 0.3;
  width: 100%;
}
.input-group .form-control{z-index: 0 !important}
.nudgeTextContainer{
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.nudgeContainer{
  .subtext{
    font-size: 22px;
    font-weight: 600;
    color: #616161;
  }
  .leadText{
    color: #126B82;
  }
  .logoDiv{
    width: 120px;
    margin: 0 auto;
    height: 100px;
    text-align: center;
  }
  .logoDiv{
    img{
      width: 120px;
    }
  }
}
