.password-criteria {
  .criteria-container {
    .criteria-list {
      padding: 0;

      li {
        padding: 10px 0;

        &.valid {
          color: @dv-green;

          .desc {
            color: @dv-black;
          }
        }
      }
    }
  }
}
