.create_team{
  .new_team_table{
    td:first-child{
      width: 30%;
    }
    .chosen-container-single .chosen-single span{margin-left: 6px !important}
  }
}

.manage-event{
  .chosen-container-single .chosen-single span{margin-left: 6px !important}
}
.new_team_buttons{
  .btn{position: relative; left: 12px;}
}

.team_and_user_details_page{
  .btn-primary-outline{margin-right: 20px;}
}

.team_name{
  position: relative;
  top: 2px;
}
.alias_container{
  position: absolute;
  padding: 8px 10px;
}

.email_templates_actions{
  .btn-default{
    border: none;
    outline: none !important;
    padding: 5px 5px !important;
    background: transparent !important;
  }
  .btn-default:visited, .btn-default:active, .btn-default:active{
    border: none !important;
    outline: none !important;
    background: transparent !important;
    color: @dv-blue !important;

  }
  .active{
    box-shadow: none;
    color: @dv-blue !important;
  }
}


.edit_role_body{
  width: 60%;
  margin: 0 auto;
}
.edit_role_form_group{
  min-height: 40px;
}

.initials_card{
  display: inline-block;
  width: 120px;
  height: 33px;
  position: relative;
  font-weight: 600;
  margin: 5px;
  border: 1px solid #e0e0e0;
  padding-left: 5px;
  .initials_badge {
    position: relative;
    top: 5px;
    background: #eee;
    padding: 6px 4px;
    left: -4px;
    border-right: 1px solid #dcdcdc;
  }
  .role-text {position: relative;top: 5px;left: -3px;}
  .initials_actions{
    position: absolute;
    right: 4px;
    top: 0;
    font-size: 11px;
    a{
      display: block;
    }
  }
}

span[uib-accordion-header]:focus{outline: 0 !important}
span[uib-accordion-header]:visited{outline: 0 !important}
span[uib-accordion-header]:active{outline: 0 !important}
a[data-toggle="collapse"]:focus{outline: 0 !important}
a[data-toggle="collapse"]:visited{outline: 0 !important}
a[data-toggle="collapse"]:active{outline: 0 !important}

.dd-multiselect{
  position: relative;
  left: 6px;
}


.accordian-title{
  span:focus{outline: none !important}
}
.accordian-title:focus{outline: none !important}
