.roles_section{
  padding: 90px 50px;
}
.export-template{
  padding: 0;
}
.rolesTableMain{
  margin-bottom: 0;
}

.rolesTableMain{
  ul{
    margin: 0;
    padding: 0px 0px 0px 15px;
    font-size: 0.9em;
    word-break: break-word;
  }
  .dvi-close{
    color: @dv-orange;
  }
}

.admin, .contributor, .restricted, .security-admin{
  background: #f3f5f9;
}
.owner, .viewer, .business-admin{
  background: #fff;
}
.premium-feature{
  color: #fff;
  background: @dv-blue;
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 10px;
  position: relative;
  top: -2px;
}
.roles_section{
  .col-sm-6{
    min-height: 250px;
  }
  h2{
    text-transform: capitalize;
    color: @dv-orange;
  }
  .infotext{
    margin-top: 10px;
  }
  .list{
    padding: 10px;
    border: 1px dashed #ccc;
    position: relative;
    top: 25px;
  }
  .list{
    span{
      color: var(--primary) !important;
      font-weight: 900;
    }
  }
}
