.welcome-mask {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  opacity: 0.6 !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  z-index: 1050 !important;
}

.welcome_to_dv {
  position: relative;
}

.terms-conditions {
  li,
  p {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
