.horizontal-stacked-chart {
  .hsc-legends {
    margin-bottom: 5px;
    text-align: center;

    .scl-info { //@OCD: SCL = Stacked Chart Legend
      padding: 0 10px;
    }

    .scl-color-block {
      .circle(10px);
      display: inline-block;
    }

    .scl-label {
      font-weight: bold;
    }
  }

  .defocus {
    opacity: 0.5;
  }

  .hsc-progress {
    .progress-bar {
      cursor: pointer;
    }
  }
}
