<app-modal
  [title]="'Manage Workflow Step(s)'"
  [firstButtonLabel]="
    edit_mode
      ? 'Update Step'
      : mwsForm.value.useStepbuilder
      ? 'Add Steps'
      : 'Add Step'
  "
  (onFirstClick)="save($event)"
  [initialTemplate]="ManageWorkStepModalref"
  [isLoading]="loading"
>
</app-modal>

<ng-template #ManageWorkStepModalref>
  <form class="form-horizontal" [formGroup]="mwsForm" autocomplete="off">
    <div *ngIf="!mwsForm.value.useStepbuilder">
      <dv-form-element
        elementCol="16"
        [fieldName]="'name'"
        [modelController]="mwsForm.get('name')"
        label="Name"
        [labelCol]="2"
        [elementCol]="8"
        [errorMessage]="
          mwsForm.get('name').touched && mwsForm.get('name').invalid
            ? 'Step Name is required'
            : ''
        "
      >
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          formControlName="name"
          required
        />
      </dv-form-element>

      <dv-form-element
        elementCol="16"
        [fieldName]="'description'"
        [modelController]="mwsForm.get('description')"
        label="Description"
        [labelCol]="2"
        [elementCol]="8"
      >
        <textarea
          formControlName="description"
          id="description"
          class="form-control"
        ></textarea>
      </dv-form-element>
    </div>

    <div *ngIf="!edit_mode && mwsForm.value.useStepbuilder">
      <helper-text>
        Please type your steps in textbox - <b>one step per line</b>
      </helper-text>

      <dv-form-element
        [fieldName]="'steps'"
        [modelController]="mwsForm.get('steps')"
        [showRightIcon]="false"
        [elementCol]="12"
        [elementClass]="'padding-0'"
      >
        <dv-bulk-list-builder-new
          [idKey]="'workflow_id'"
          [textKey]="'name'"
          [ngData]="steps"
          [currentLength]="allSteps.length"
          [type]="'Step'"
          [valueRequired]="mwsForm.value.useStepbuilder"
          [placeHolderText]="'Add multiple Steps here'"
        ></dv-bulk-list-builder-new>
      </dv-form-element>
    </div>

    <div *ngIf="!edit_mode">
      <dv-form-element elementCol="16" [fieldName]="'useStepbuilder'">
        <div col="8">
          <dv-checkbox
            formControlName="useStepbuilder"
            label="Use step builder instead"
            (onValChange)="useStepBuilder()"
          ></dv-checkbox>
        </div>
      </dv-form-element>
    </div>
  </form>
</ng-template>
