.preview-response {
  display: flex;
}

.preview-response :first-child {
  flex: 1;
}

.preview-icon {
  display: flex;
}

th,
td {
  width: fit-content !important;
  min-width: 150px !important;
}

.preview-icon > span {
  padding: 8px;
  margin-left: 10px !important;
  margin-top: 0px !important;
  cursor: pointer;
  height: 32px !important;
}

.preview-icon > span:last-child {
  margin-right: 10px !important;
}
:host ::ng-deep label {
  overflow-wrap: anywhere !important;
}
