.container-header {
  border: 1px solid #e9e9e9 !important;
  background: white 0% 0% no-repeat padding-box;
  padding: 10px;
  border-bottom: 0 !important;
  padding-bottom: 0 !important;
  flex: 1;
}

.container-header > dv-label {
  margin-right: 30px;
}

.diligence-text-center {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container-wrapper {
  display: flex;
}
.custom-button-ui {
  background: white;
  border-right: 1px solid #e9e9e9;
  border-top: 1px solid #e9e9e9;
  margin-left: -1px;
}

.stopScroll {
  height: 100%;
  overflow: hidden;
}

.section-prev-next {
  margin: 10px;
}
::ng-deep .child-active-question {
  background: #f2f8f9;
  padding: 10px 5px !important;
  margin-top: -2px;
  border: 1px solid #e9e9e9 !important;
}
::ng-deep .parent-active-question {
  margin-right: -10px !important;
  margin-left: -10px !important;
  padding-right: 10px !important;
  padding-left: 10px !important;
}
::ng-deep .parent-question {
  display: block !important;
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}
::ng-deep .bottomborder {
  border-bottom: 1px solid #e9e9e9 !important;
}
.container-border-color {
  border-color: #e9e9e9 !important;
}

.questionnaire-segment {
  min-height: calc(100vh - 315px) !important;
}
