.minwidth {
  min-width: 170px;
}

.danger {
  color: #d75c5c !important;
}

.firm-pref-sticky {
  position: sticky;
  bottom: 60px;
  background: white;
  z-index: 100 !important;
}

.panel-body {
  padding: 6px !important;
}
.tab-main {
  display: flex;
}
.tab-button {
  margin-left: 5px;
}
.tab-bar {
  flex-basis: 100%;
}
.tab-label {
  margin-left: 15px;
}
.dv-tab {
  display: flex;
  flex-direction: row;
}
.dv-border {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.border {
  position: absolute;
  border: 1px solid #126b82;
  background: #126b82;
  bottom: -7px;
  width: 60px;
  margin-left: 20px;
}

.tab-spinner {
  display: flex;
  justify-content: center;
  width: 100%;
}
html {
  scroll-behavior: smooth;
}
.bottom-50 {
  margin-bottom: 60px;
}
.top-75 {
  margin-top: 75px;
}

.pt-78 {
  padding-top: 78px;
}

.pt-50 {
  padding-top: 50px;
}

.sticky-button {
  height: 60px;
  background: white;
}
.nested-preference {
  margin-left: 20%;
}
.display-inline {
  display: inline-block;
}
/* ::ng-deep .firm_pref_tab .dv-tab {
  gap: 1px !important;
  line-height: 2.3;
}
::ng-deep .firm_pref_tab .tab-label {
  margin-left: 17px !important;
}
::ng-deep .firm_pref_tab .dv-label {
  font-size: 13px !important;
}
::ng-deep .firm_pref_tab .border {
  bottom: -6px !important;
}*/
