<div class="row clearfix">
  <div class="col-md-12">
    <div class="panel panel-default borderless-top">
      <div class="panel-body clearfix">
        <app-spinner
          [broadSpinner]="true"
          spinnerHeight="40"
          *ngIf="!vehicle"
        ></app-spinner>
        <div class="dv-table dv-table-middle dd-info-panel" *ngIf="vehicle">
          <div class="cell">
            <h4 class="clear-margin max-w-320 lh1-5 word-break-break-all">
              {{ vehicle?.display_name }}
              <span
                class="space-on-left label label-warning"
                tooltip="Deactivated by the owner firm"
                container="body"
                *ngIf="!vehicle.platform_active"
                >{{ statusLabel.INACTIVE }}</span
              >
            </h4>
            <small class="text-muted">
              Parent Product: {{ vehicle.fund_name }}
            </small>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div col="12">
        <div
          class="panel panel-default"
          *ngIf="related_entities && related_entities.length"
        >
          <div class="panel-heading">
            <h5 class="panel-title">
              {{ related_entities.length }} Related Entities
            </h5>
          </div>
          <div class="panel-body">
            <!-- TODO: tiles-adjuster="adjust_entity_list"
              use-max-tile-width="true"
              tile-selector="> li" -->
            <ul
              class="list-unstyled due-diligence-grid"
              tiles-adjuster="adjust_entity_list"
              use-max-tile-width="true"
              tile-selector="> li"
            >
              <!-- TODO: on-render="adjust_entity_list = true" -->
              <li
                class="inline-block pull-left"
                on-render="adjust_entity_list = true"
                *ngFor="let entity of related_entities"
                style="margin-right: 10px"
              >
                <div class="panel panel-default relative">
                  <div class="panel-body">
                    <div>
                      <a
                        *ngIf="!isFreeSubscription"
                        (click)="navigateToProfileMonitor(entity)"
                      >
                        {{ entity.name | truncate: 30 }}
                      </a>
                      <a
                        *ngIf="isFreeSubscription"
                        (click)="navigateToProfileAumTr(entity)"
                      >
                        {{ entity.name | truncate: 30  }}
                      </a>
                      <span
                        class="space-on-left label label-warning"
                        tooltip="Deactivated by the owner firm"
                        container="body"
                        *ngIf="!entity.platform_active"
                        >{{ statusLabel.INACTIVE }}</span
                      >
                    </div>
                    <ul
                      class="
                        list-unstyled
                        space-on-top-lg
                        clear-margin-bottom
                        list-with-icons
                      "
                    >
                      <li class="space-on-bottom">
                        <span class="align-middle text-muted"
                          >Currency: {{ entity.currency }}</span
                        >
                      </li>
                      <li>
                        <app-fund-return
                          [fundReturn]="entity.return"
                          tooltip="Vehicle returns"
                          container="body"
                          [date]="entity.returnAsOfDate"
                        ></app-fund-return>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="panel panel-default" *ngIf="!related_entities">
          <div class="panel-body">
            <app-spinner
              [broadSpinner]="true"
              spinnerHeight="100"
            ></app-spinner>
          </div>
        </div>
      </div>
    </div>
    <div
      class="row clearfix"
      *ngIf="related_entities && !related_entities.length"
    >
      <div col="12">
        <app-empty-state message="No related vehicles found"></app-empty-state>
      </div>
    </div>
  </div>
</div>
