@icomoon-font-family: "icomoon";
@icomoon-font-path: "fonts";

@dvi-comments: "\e996";
@dvi-user-add-circle: "\e99a";
@dvi-internal-ddq: "\e98d";
@dvi-search-on-web: "\e995";
@dvi-banner-noti: "\e98c";
@dvi-single-right-arrow: "\e98a";
@dvi-double-right-arrow: "\e98b";
@dvi-single-left-arrow: "\e988";
@dvi-double-left-arrow: "\e989";
@dvi-hour-glass-new: "\e998";
@dvi-circle-check: "\e999";
@dvi-documents-col-new: "\e993";
@dvi-overdue-new: "\e994";
@dvi-dash-pending-new: "\e997";
@dvi-document-selector: "\e984";
@dvi-flatten-folder: "\e985";
@dvi-auto-fill: "\e983";
@dvi-Profile: "\e981";
@dvi-plus-box: "\e97f";
@dvi-check-box: "\e980";
@dvi-vehicle: "\e96b";
@dvi-strategy2: "\e96c";
@dvi-product: "\e96d";
@dvi-firm: "\e96e";
@dvi-aum-tr: "\e96f";
@dvi-partnership: "\e970";
@dvi-report: "\e971";
@dvi-data-hub: "\e972";
@dvi-analyze1: "\e974";
@dvi-contact: "\e976";
@dvi-dashboard: "\e977";
@dvi-excel: "\e978";
@dvi-document: "\e97a";
@dvi-qna: "\e97b";
@dvi-template: "\e97c";
@dvi-project: "\e97d";
@dvi-close-circle: "\e97e";
@dvi-new-folder: "\e96a";
@dvi-check-new: "\e969";
@dvi-rename: "\e966";
@dvi-copy-2: "\e967";
@dvi-move1: "\e968";
@dvi-followup: "\e963";
@dvi-folder: "\e95f";
@dvi-folder-open: "\e960";
@dvi-file-doc-grid: "\e961";
@dvi-Erase: "\e95e";
@dvi-checked-circle: "\e95d";
@dvi-layout: "\e95b";
@dvi-alert-circle: "\e95c";
@dvi-document-download: "\e953";
@dvi-sync: "\e954";
@dvi-announcements: "\e956";
@dvi-thunder-2: "\e957";
@dvi-book: "\e959";
@dvi-bank-account-fill: "\e95a";
@dvi-funds: "\e952";
@dvi-bookmark-add-fill: "\e955";
@dvi-file-out: "\e951";
@dvi-move-in: "\e950";
@dvi-tags-o: "\e94d";
@dvi-user-o: "\e94e";
@dvi-list-search: "\e94c";
@dvi-view-rules: "\e94b";
@dvi-reviewed-document: "\e94a";
@dvi-assign-user: "\e949";
@dvi-download-install-line: "\e948";
@dvi-caret-right: "\e945";
@dvi-caret-down: "\e947";
@dvi-reply: "\e944";
@dvi-recent: "\e942";
@dvi-all-content: "\e943";
@dvi-recommendation: "\e940";
@dvi-list: "\e941";
@dvi-terms-and-conditions: "\e94f";
@dvi-dv-crown: "\e93c";
@dvi-table-with-check: "\e93a";
@dvi-table-validate: "\e93b";
@dvi-function: "\e935";
@dvi-vehicle-car: "\e925";
@dvi-standard-text: "\e928";
@dvi-file-plus: "\e61b";
@dvi-coffee: "\e625";
@dvi-picture: "\e614";
@dvi-upload2: "\e60c";
@dvi-trashcan: "\e61c";
@dvi-attachment: "\e618";
@dvi-retweet: "\e60d";
@dvi-key: "\e606";
@dvi-location: "\e605";
@dvi-mail: "\e607";
@dvi-calendar: "\e608";
@dvi-strategy-2: "\e92d";
@dvi-add-user-4: "\e7fe";
@dvi-th: "\e901";
@dvi-arrow-back: "\e61e";
@dvi-phone: "\e627";
@dvi-share: "\e620";
@dvi-clone: "\e61d";
@dvi-file-add: "\e609";
@dvi-file: "\e60b";
@dvi-message: "\e930";
@dvi-message-square: "\e931";
@dvi-minus-square1: "\e934";
@dvi-minus-square: "\e933";
@dvi-arrow-down: "\e964";
@dvi-arrow-up: "\e965";
@dvi-view-hide: "\e92f";
@dvi-dots-three-vertical: "\e90a";
@dvi-squared-minus: "\e932";
@dvi-documents-col: "\e986";
@dvi-overdue: "\e987";
@dvi-pending: "\e98e";
@dvi-dash-recommendation: "\e98f";
@dvi-dash-workflow: "\e990";
@dvi-dash-check: "\e991";
@dvi-documents: "\e992";
@dvi-bookmark2: "\e93f";
@dvi-Paste-from-clipboard: "\e93e";
@dvi-bg-check: "\e93d";
@dvi-revision: "\e938";
@dvi-correction: "\e939";
@dvi-swap: "\e937";
@dvi-add-team-member: "\e936";
@dvi-strategy: "\e92e";
@dvi-pending_approval: "\e92b";
@dvi-formula: "\e92a";
@dvi-customize: "\e929";
@dvi-rating: "\e926";
@dvi-undo: "\e927";
@dvi-move: "\e924";
@dvi-star-check-mark: "\e923";
@dvi-times-up: "\e921";
@dvi-user-wait: "\e922";
@dvi-disclaimer: "\e920";
@dvi-bolt: "\e91e";
@dvi-linked-items: "\e91d";
@dvi-hand-wave: "\e91c";
@dvi-under-construction-2: "\e91b";
@dvi-under-construction: "\e91a";
@dvi-add-user-2: "\e919";
@dvi-overview: "\e917";
@dvi-visio: "\e916";
@dvi-na-narrow: "\e915";
@dvi-na-bg: "\e914";
@dvi-cloud-lock: "\e913";
@dvi-check-all: "\e912";
@dvi-investor: "\e911";
@dvi-branches: "\e910";
@dvi-scoring: "\e90f";
@dvi-uturn: "\e90e";
@dvi-analytics2: "\e902";
@dvi-bar-graph: "\e903";
@dvi-binoculars: "\e904";
@dvi-computer-statistics: "\e905";
@dvi-controls: "\e906";
@dvi-double-tap: "\e907";
@dvi-handshake: "\e908";
@dvi-payment-cogs: "\e909";
@dvi-rocket: "\e90b";
@dvi-tools: "\e90c";
@dvi-users: "\e90d";
@dvi-team: "\e90d";
@dvi-secure: "\e62d";
@dvi-history: "\e62c";
@dvi-notepad: "\e62b";
@dvi-privacy: "\e62a";
@dvi-access-level: "\e62a";
@dvi-aum: "\e629";
@dvi-strategy1: "\e628";
@dvi-meeting: "\e626";
@dvi-thunder: "\e623";
@dvi-follow-fund: "\e624";
@dvi-add-fund: "\e622";
@dvi-add-user: "\e621";
@dvi-compare: "\e61f";
@dvi-manager: "\e61a";
@dvi-file-doc: "\e616";
@dvi-file-docx: "\e617";
@dvi-readonly: "\e612";
@dvi-document-question: "\e60e";
@dvi-doubt: "\e60f";
@dvi-follow-up: "\e610";
@dvi-raise-hand: "\e611";
@dvi-fund: "\e60a";
@dvi-analytics: "\e600";
@dvi-monitor: "\e600";
@dvi-chart: "\e601";
@dvi-analyze: "\e601";
@dvi-gears: "\e602";
@dvi-manage: "\e602";
@dvi-bulb: "\e603";
@dvi-dash: "\e604";
@dvi-grid: "\e604";
@dvi-na: "\e918";
@dvi-star-half: "\e9d8";
@dvi-page-break: "\ea68";
@dvi-movie: "\e615";
@dvi-file-excel: "\e613";
@dvi-git-compare: "\f0ac";
@dvi-sign-out: "\f032";
@dvi-bars: "\f05e";
@dvi-mobile: "\e958";
@dvi-floppy-disk: "\e962";
@dvi-hour-glass: "\e979";
@dvi-spinner: "\e982";
@dvi-arrow-right: "\ea34";
@dvi-arrow-left: "\ea38";
@dvi-radio-unchecked: "\ea56";
@dvi-not-applicable: "\e900";
@dvi-copy: "\e92c";
@dvi-info: "\ea0c";
@dvi-pushpin: "\e946";
@dvi-add-user-3: "\e973";
@dvi-user-check: "\e975";
@dvi-pause2: "\ea1d";
@dvi-home: "\e91f";
@dvi-download3: "\e9c7";
@dvi-upload3: "\e9c8";
@dvi-scores: "\f233";
@dvi-pause: "\f04c";
@dvi-check2: "\f00e";
@dvi-font: "\f031";
@dvi-align-left: "\f036";
@dvi-align-center: "\f037";
@dvi-align-right: "\f038";
@dvi-align-justify: "\f039";
@dvi-image: "\f03e";
@dvi-photo: "\f03e";
@dvi-picture-o: "\f03e";
@dvi-strikethrough: "\f0cc";
@dvi-underline: "\f0cd";
@dvi-pie-chart: "\f200";
@dvi-external-link: "\f08e";
@dvi-table: "\f0ce";
@dvi-bell: "\f0f3";
@dvi-circle: "\f111";
@dvi-powerpoint: "\f1c4";
@dvi-search: "\f002";
@dvi-star: "\f005";
@dvi-star-o: "\f006";
@dvi-user: "\f007";
@dvi-check: "\f00c";
@dvi-close: "\f00d";
@dvi-remove: "\f00d";
@dvi-times: "\f00d";
@dvi-cog: "\f013";
@dvi-gear: "\f013";
@dvi-clock-o: "\f017";
@dvi-refresh: "\f021";
@dvi-flag: "\f024";
@dvi-tag: "\f02b";
@dvi-bookmark: "\f02e";
@dvi-print: "\f02f";
@dvi-pencil: "\f040";
@dvi-chevron-left: "\f053";
@dvi-chevron-right: "\f054";
@dvi-plus-circle: "\f055";
@dvi-minus-circle: "\f056";
@dvi-check-circle: "\f058";
@dvi-question-circle: "\f059";
@dvi-times-circle-o: "\f05c";
@dvi-ban: "\f05f";
@dvi-mail-forward: "\f064";
@dvi-expand: "\f065";
@dvi-compress: "\f066";
@dvi-plus: "\f067";
@dvi-minus: "\f068";
@dvi-fire: "\f06d";
@dvi-eye: "\f06e";
@dvi-exclamation-triangle: "\f071";
@dvi-warning: "\f071";
@dvi-chevron-up: "\f077";
@dvi-chevron-down: "\f078";
@dvi-cogs: "\f085";
@dvi-thumbs-o-up: "\f087";
@dvi-thumbs-o-down: "\f088";
@dvi-upload: "\f093";
@dvi-tasks: "\f0ae";
@dvi-filter: "\f0b0";
@dvi-briefcase: "\f0b1";
@dvi-square: "\f0c8";
@dvi-comment-o: "\f0e5";
@dvi-comments-o: "\f0e6";
@dvi-angle-left: "\f104";
@dvi-angle-right: "\f105";
@dvi-angle-up: "\f106";
@dvi-angle-down: "\f107";
@dvi-smile-o: "\f118";
@dvi-unlock-alt: "\f13e";
@dvi-ellipsis-h: "\f141";
@dvi-thumbs-up: "\f164";
@dvi-thumbs-down: "\f165";
@dvi-bank: "\f19c";
@dvi-institution: "\f19c";
@dvi-university: "\f19c";
@dvi-file-pdf-o: "\f1c1";
