.subsection-name {
  background: #eeeeee;
  padding: 5px 10px;
  border-radius: 4px;
}

.section-wrapper {
  margin-top: 28px;
  border: 1px solid #ddd;
  background: white;
  margin-bottom: 28px;
  border-radius: 4px;
}

.subsection {
  padding: 10px;
}


.print-preview-spinner {
  display: flex;
  justify-content: center;
  margin: 100px;
}
