<form [formGroup]="passwordForm" autocomplete="off">
  <div class="row">
    <div
      class="col-md-{{ twoColumnLayout ? '6' : '12' }} space-on-top col-sm-12"
    >
      <dv-form-element
        [modelController]="passwordForm.get('password')"
        [labelPosition]="labelPosition"
        [label]="label"
        [elementCol]="elementCol"
        [isRequired]="true"
        [showRightIcon]="false"
      >
        <div class="input-group">
          <span class="input-group-addon">
            <span appIcon name="key"></span>
          </span>
          <input
            class="form-control"
            id="password"
            [placeholder]="placeholder"
            [type]="passwordElementType"
            formControlName="password"
            placement="right"
            triggers="focus"
            containerClass="password-criteria-popover"
            popoverTitle="Password Criteria"
            [popover]="popTemplate"
            #pop="bs-popover"
            autocomplete="new-password"
          />
          <a
            [ngStyle]="{
              right:
                passwordForm.get('password').touched &&
                passwordForm.get('password')?.valid
                  ? '32px'
                  : '12px'
            }"
            class="password-style-element clickable"
            (click)="showPasswordToggle()"
          >
            <span appIcon name="eye" *ngIf="passwordNotVisible"></span>
            <span appIcon name="view-hide" *ngIf="!passwordNotVisible"></span>
          </a>
        </div>
        <div
          *ngIf="
            passwordForm.get('password').touched &&
            passwordForm.get('password').errors?.required
          "
          class="text-danger"
        >
          Password is required
        </div>
        <div
          *ngIf="
            passwordForm.get('password').touched &&
            passwordForm.get('password').errors?.lengthRange
          "
          class="text-danger"
        >
          Password needs to be between 8 and 16 characters long
        </div>
        <div
          *ngIf="
            passwordForm.get('password').touched &&
            passwordForm.get('password').errors?.uppercaseRequired
          "
          class="text-danger"
        >
          At least one uppercase letter is required
        </div>
        <div
          *ngIf="
            passwordForm.get('password').touched &&
            passwordForm.get('password').errors?.lowercaseRequired
          "
          class="text-danger"
        >
          At least one lowercase letter is required
        </div>
        <div
          *ngIf="
            passwordForm.get('password').touched &&
            passwordForm.get('password').errors?.symbolRequired
          "
          class="text-danger"
        >
          At least one number and/or symbol is required
        </div>
        <div
          *ngIf="
            passwordForm.get('password').value &&
            passwordForm.get('password').errors?.whiteSpaceNotRequired
          "
          class="text-danger"
        >
          Password should not contain whitespaces
        </div>
      </dv-form-element>
    </div>
    <div
      class="col-md-{{
        twoColumnLayout ? '6 space-on-top' : '12 space-on-top-xl'
      }} col-sm-12"
    >
      <dv-form-element
        [modelController]="passwordForm.get('confirmPassword')"
        [labelPosition]="labelPosition"
        [label]="confirmPasswordLabel"
        [elementCol]="elementCol"
        [isRequired]="true"
        [showRightIcon]="false"
      >
        <div class="input-group">
          <span class="input-group-addon">
            <span appIcon name="key"></span>
          </span>
          <input
            class="form-control"
            [placeholder]="confirmPasswordPlaceholder"
            [type]="confirmPasswordElementType"
            formControlName="confirmPassword"
            id="confirmPassword"
          />
          <a
            [ngStyle]="{
              right:
                passwordForm.get('confirmPassword').touched &&
                passwordForm.get('confirmPassword')?.valid
                  ? '32px'
                  : '12px'
            }"
            class="password-style-element clickable"
            (click)="showConfirmPasswordToggle()"
          >
            <span appIcon name="eye" *ngIf="confirmPasswordNotVisible"></span>
            <span
              appIcon
              name="view-hide"
              *ngIf="!confirmPasswordNotVisible"
            ></span>
          </a>
        </div>
        <div
          *ngIf="
            passwordForm.get('confirmPassword').touched &&
            (passwordForm.get('confirmPassword').errors?.required ||
              passwordForm.get('confirmPassword').errors?.validateEqual)
          "
          class="text-danger"
        >
          Passwords do not match
        </div>
      </dv-form-element>
    </div>
  </div>
  <button class="display-none" aria-hidden="true" type="submit" (click)="handleSubmit()"></button>

  <div *ngIf="keepSpacing"><br /><br /></div>
</form>

<ng-template #popTemplate>
  <div class="password-criteria">
    <div class="criteria-container">
      <ul class="criteria-list list-unstyled">
        <li
          class="text-muted green-check"
          [ngClass]="{
            'text-success':
              passwordForm.get('password').value &&
              !passwordForm.get('password').errors?.lengthRange
          }"
        >
          <span class="icon"><span appIcon name="check-circle"></span></span>
          <span class="desc">
            {{ errorMessageMap.passwordRequiredLength }}
          </span>
        </li>
        <li
          class="text-muted"
          [ngClass]="{
            'text-success':
              passwordForm.get('password').value &&
              !passwordForm.get('password').errors?.uppercaseRequired
          }"
        >
          <span class="icon"><span appIcon name="check-circle"></span></span>
          <span class="desc">
            {{ errorMessageMap.passwordUppercaseChar }}
          </span>
        </li>
        <li
          class="text-muted"
          [ngClass]="{
            'text-success':
              passwordForm.get('password').value &&
              !passwordForm.get('password').errors?.lowercaseRequired
          }"
        >
          <span class="icon"><span appIcon name="check-circle"></span></span>
          <span class="desc">
            {{ errorMessageMap.passwordLowercaseChar }}
          </span>
        </li>
        <li
          class="text-muted"
          [ngClass]="{
            'text-success':
              passwordForm.get('password').value &&
              !passwordForm.get('password').errors?.symbolRequired
          }"
        >
          <span class="icon"><span appIcon name="check-circle"></span></span>
          <span class="desc">
            {{ errorMessageMap.passwordSpecialChar }}
          </span>
        </li>
        <li
          class="text-muted"
          [ngClass]="{
            'text-success':
              passwordForm.get('password').value &&
              !passwordForm.get('password').errors?.numberRequired
          }"
        >
          <span class="icon"><span appIcon name="check-circle"></span></span>
          <span class="desc">
            {{ errorMessageMap.passwordNumber }}
          </span>
        </li>
        <li
          class="text-muted"
          [ngClass]="{
            'text-success':
              passwordForm.get('password').value &&
              !passwordForm.get('password').errors?.whiteSpaceNotRequired
          }"
        >
          <span class="icon"><span appIcon name="check-circle"></span></span>
          <span class="desc">
            {{ errorMessageMap.passwordNoWhiteSpace }}
          </span>
        </li>
      </ul>
    </div>
  </div>
</ng-template>
