:host ::ng-deep .input-group-addon:not(:first-child):not(:last-child),
:host ::ng-deep .input-group-btn:not(:first-child):not(:last-child),
:host ::ng-deep .input-group .form-control:not(:first-child):not(:last-child) {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}
.pr-32
{
  right: 32px;
}
.pr-12
{
  right: 12px;
}
