<ng-template #TermsconditionTemplate>
  <div class="panel panel-default">
    <div class="panel-heading text-bold">Terms and Conditions</div>
    <div class="panel-body bodyContent">
      <div>
        <p>
          These terms and conditions (“Terms and Conditions” or “T&amp;C”) are a
          contract that governs our User’s (as defined below) use of
          DiligenceVault Services (as defined below). For the purposes of these
          Terms and Conditions, Diligence Vault Corp., a Delaware corporation,
          will be referred to herein as “DiligenceVault” or “Company”, and
          “User(s)” is defined below. If you are a Customer with a service
          agreement directly negotiated with DiligenceVault, your agreement will
          supersede these Terms and Conditions. DiligenceVault and User may be
          referred to herein collectively as the “Parties” or individually as a
          “Party”.
        </p>
        <div class="text-center bold-text">RECITALS</div>
        <p>
          A. Company operates the Services (as defined below) and provides
          access to its Users;
        </p>
        <div class="text-center">and</div>
        <p>
          B. User desires to access and use the Services, and Company is willing
          to provide such access, subject to the T&amp;C herein.
        </p>
        <ol>
          <li>
            <span class="bold-text">DEFINITIONS</span>
            <ol type="a">
              <li>
                <b>“Aggregated Data”</b> means any data that is collected,
                derived, or aggregated from the User’s use of the Services.
              </li>
              <li>
                <b>“Authorized Users”</b> means an employee, client, or
                contractor whom Customer has authorized to use the Services.
              </li>
              <li>
                <b>“Appropriate Security Measures”</b> means commercially
                reasonable technical and procedural controls designed to (i)
                protect User Data details against destruction, loss, alteration,
                and unauthorized access and (ii) prevent the introduction of
                Malicious Code into the Services.
              </li>
              <li>
                <b>“Company IP”</b> means the Services, the underlying software
                provided in conjunction with the Services, algorithms,
                interfaces, technology, databases, tools, know-how, processes
                and methods used to provide or deliver the Services,
                Documentation, Aggregate Data, all improvements, modifications
                or enhancements to, or derivative works of, the foregoing
                (regardless of inventorship or authorship), and all Intellectual
                Property Rights in and to any of the foregoing.
              </li>
              <li>
                <b>“Controller”</b> means the entity which determines the
                purposes and means of the processing of Personal Data.
              </li>
              <li>
                <b>“Customer”</b> means a Person who has signed a service
                agreement with DiligenceVault.
              </li>
              <li>
                <b>“Documentation”</b> means the operator and user manuals,
                video tutorials, training materials, specifications, minimum
                system configuration requirements, compatible device and
                hardware list, and including, without limitation, information
                about tangible and intangible property which may relate to
                technology, audits or any other reports or similar materials
                provided in hard copy, electronic form or orally by Company to
                User (including any revised versions thereof) relating to the
                Services or the Company.
              </li>
              <li>
                <b>“GDPR”</b> means the Regulation (EU) 2016/679 of the European
                Parliament and of the Council of 27 April 2016 on the protection
                of natural persons with regard to the processing of personal
                data and on the free movement of such data, and repealing
                Directive 95/46/EC (General Data Protection Regulation).
              </li>
              <li>
                <b>“Intellectual Property Rights”</b> means patent rights
                (including, without limitation, patent applications and
                disclosures), inventions, copyrights, trade secrets, know-how,
                data and database rights, mask work rights, and any other
                intellectual property rights recognized in any country or
                jurisdiction in the world.
              </li>
              <li>
                <b>“Malicious Code”</b> means code, files, scripts, agents or
                programs intended to do harm, including, for example, viruses,
                worms, time bombs and Trojan horses.
              </li>
              <li>
                <b>“Person (s)”</b> means any individual, corporation,
                partnership, trust, limited liability company, association,
                governmental authority or other entity.
              </li>
              <li>
                <b>“Personal Data”</b> means any information that relates to an
                identified or identifiable natural person, to the extent that
                such information is protected as personal data under applicable
                laws and regulations.
              </li>
              <li>
                <b>“Processor”</b> means the entity which processes Personal
                Data on behalf of the Controller.
              </li>
              <li>
                <b>“Shared Data”</b> means any data or information exchanged
                among Company’s users in connection with the use of the
                Services.
              </li>
              <li>
                <b>“Service(s)”</b> the use of any of Company’s software
                modules, related sites, apps, communications or any other
                services provided by Company.
              </li>
              <li>
                <b>“Uploaded Data”</b> means any data that the User uploads to
                the platform to be made available through the Services.
              </li>
              <li>
                <b>“Use”</b> means to use and access the Services in accordance
                with these Terms and Conditions.
              </li>
              <li>
                <b>“User(s)”</b> means any user of our Services, either (i)
                employees, contractors, agents, affiliates or any authorized
                users of Customer’s, (ii) a Person on a Services trial, or (iii)
                a Person who received an invitation to use DiligenceVault’s
                Services free of cost.
              </li>
              <li>
                <b>“User Data”</b> means all information, data, content and
                other materials, in any form or medium, that is submitted,
                posted, collected, transmitted or otherwise provided by or on
                behalf of User through the Services.
              </li>
            </ol>
          </li>
          <li>
            <span class="bold-text"> DESCRIPTION OF SERVICE </span>
            <p>
              Any distinct hosted due-diligence solution operated and supported
              by the Company.
            </p>
          </li>
          <li>
            <span class="bold-text">SERVICES ACCESS AND USE</span>
            <ol type="a">
              <li>
                <span class="link-underline">Services.</span> Subject to the
                Terms and Conditions herein, the Company hereby grants User a
                limited, non-exclusive, non-transferable right to Use the
                Services solely for User’s business purposes in accordance with
                the description of services in Section 2.
              </li>
              <li>
                <span class="link-underline">Use Restrictions.</span> User will
                not at any time, directly or indirectly: (i) use the Services in
                any manner beyond the scope of rights expressly granted in this
                T&amp;C; (ii) modify or create derivative works of the Services,
                in whole or in part; (iii) reverse engineer, disassemble,
                decompile, decode or otherwise attempt to derive or gain
                improper access to any software component of the Services, in
                whole or in part; (iv) frame, mirror, sell, resell, rent or
                lease use of the Services to any other Person, or otherwise
                allow any Person to use the Services for any purpose other than
                for the benefit of User in accordance with this T&amp;C; (v) use
                the Services in any manner or for any purpose that infringes,
                misappropriates, or otherwise violates any intellectual property
                right or other right of any Person, or that violates any
                applicable law; (vi) interfere with, or disrupt the integrity or
                performance of, the Services, or any data or content contained
                therein or transmitted thereby; or (vii) access or search the
                Services (or download any data or content contained therein or
                transmitted thereby) through the use of any engine, software,
                tool, agent, device or mechanism (including spiders, robots,
                crawlers or any other similar data mining tools) other than
                software or the Services features provided by Company for use
                expressly for such purposes; (viii) to harvest, collect, gather
                or assemble information or data regarding other users, including
                email addresses, without their consent, (ix) to transmit through
                or post on the Service unlawful, harassing, libelous, abusive,
                harassing, fraudulent, tortious, defamatory, threatening,
                harmful, abusive, libelous, invasive of another’s privacy,
                vulgar, obscene or otherwise objectionable material of any kind
                or nature or material which is harmful in any way; (x) transmit
                any material that contains software viruses or other harmful or
                deleterious computer code, files or programs such as trojan
                horses, worms, time bombs, cancelbots; (xi) to interfere with or
                disrupt servers or networks connected to the Service or violate
                the regulations, policies or procedures of such networks; (xii)
                to attempt to gain unauthorized access to the Service, other
                accounts, computer systems or networks connected to the Service
                through password mining or any other means; (xii) to harass or
                interfere with another user’s use and enjoyment of the Service,
                (xiii) to submit to or store in the Service any protected health
                information unless the User has informed Company in advance and
                executed an agreement in the form determined by the Company; and
                (xiv) use the Services for the purposes of A) monitoring its
                availability, penetration or security testing, or B)
                benchmarking or competitive analysis with respect to competitive
                or related products or services with the intent to develop,
                commercialize, license or sell any product, service or
                technology that could, directly or indirectly, compete with the
                Services. All judgments concerning the applicability of these
                restrictions and any responses to violations thereof shall be at
                the sole and exclusive discretion of the Company.
              </li>
              <li>
                <span class="link-underline">Registration.</span> Users shall
                create an account to use the Services by (i) using a real name
                and professional email, (ii) providing complete and up-to-date
                information and (iii) agreeing to update such information, as
                needed, to keep it accurate, complete and up-to-date. If the
                User begins the registration process for Services but fails to
                complete the process, the Company may contact User in an effort
                to successfully guide through this process. Users hereby
                authorize the Company to make such contact.
              </li>
              <li>
                <span class="link-underline">Services Trial.</span> Users that
                register for the Services trial, will have access to the
                Services on a trial basis until the earlier of (a) the end of
                the trial period (if not terminated earlier) or (b) the
                effective date of becoming a Customer.
              </li>
              <li>
                <span class="link-underline"
                  >User Accounts and Users Responsibilities:</span
                >
                (i) Use the Services in a professional manner and according to
                the T&amp;C, (ii) submit accurate, current, and complete
                information and promptly update such information as appropriate,
                (iii) do not disclose account password to anyone and notify
                Company immediately of any unauthorized use of the account, (iv)
                Users are responsible for all activities that occur under their
                account, whether or not they know about them.
              </li>
              <li>
                <span class="link-underline">Third-Party Services.</span>
                Certain features and functionalities within the Services may
                allow User and to interface or interact with, access and/or use
                compatible third-party services, products, technology and
                content (collectively, “Third-Party Services”) through the
                Services.The Company provides these Third-Party Services only as
                a convenience and such services are not required for the use of
                the Services; therefore Company does not review, approve,
                monitor, endorse, warrant, or make any representations with
                respect to any Third-Party Services, or any product or Service
                provided in connection therewith. Company does not provide any
                aspect of the Third-Party Services and is not responsible for
                their privacy policy or compliance with applicable laws to
                provide their services, and neither any compatibility issues,
                errors or bugs in the Services or Third-Party Services caused in
                whole or in part by the Third-Party Services or any update or
                upgrade thereto. User is solely responsible for maintaining the
                Third-Party Services and obtaining any associated licenses and
                consents necessary for User to use the Third-Party Services in
                connection with the Services. USER RELATIONSHIPS WITH SUCH
                THIRD-PARTY SERVICE PROVIDERS ARE GOVERNED SOLELY BY THE USER’S
                AGREEMENT(S) WITH SUCH THIRD-PARTY SERVICE PROVIDERS. THE
                COMPANY DISCLAIMS ANY LIABILITY IN CONNECTION WITH THE USER’S
                USE OF SUCH THIRD-PARTY SERVICES.
              </li>
              <li>
                <span class="link-underline">Reservation of Rights.</span>
                Subject to User’s compliance with this T&amp;C, Company reserves
                and, as between the Parties, will solely own the Company IP and
                all rights, title and interest in and to the Company IP. No
                rights are granted to Users hereunder (whether by implication,
                estoppel, exhaustion or otherwise) other than as expressly set
                forth herein. User acknowledges and agree that Company is not
                obligated to monitor or police User’s Data, including Uploaded
                Data and Shared Data, transmitted through the Services and that
                Company shall not be responsible for the data content or
                transmissions. Although the Company is not obligated to monitor
                access to or use of the Services or User’s Data or to review any
                User’s Data, the Company has the right to do so for the purpose
                of operating the Services, to ensure compliance with the terms
                of this T&amp;C.
              </li>
              <li>
                <span class="link-underline">Ownership.</span> All right, title,
                and interest, including any Intellectual Property Rights under
                applicable law evidenced by or embodied in, attached, connected,
                or related to the Services and any and all derivative works
                thereof are and will remain owned solely by Company or its
                licensors. This T&amp;C does not convey to User any right or
                interest in or to the Services other than as expressly set out
                herein, and nothing herein constitutes a waiver of the Company’s
                Intellectual Property Rights under any law.
              </li>
              <li>
                <span class="link-underline">Feedback.</span> From time to time
                User or its authorized users, employees, contractors, or
                representatives may provide the Company with suggestions,
                comments, feedback, or the like with regard to the Services
                (collectively, “Feedback”). Company and its affiliates own all
                rights, title and interest, including all related Intellectual
                Property Rights in all Feedback received in connection with
                Company’s business purposes and the Services, including, without
                limitation, the testing, development, enhancement, maintenance
                and improvement of the Services.
              </li>
            </ol>
          </li>
          <li>
            <span class="bold-text">REMOVAL POLICY</span>
            <ol type="a">
              <li>
                Company reserves the right to delete or disable the accounts of
                Users who are believed (i) to infringe the Use Restrictions of
                section 2(b), (ii) to infringe the Intellectual Property Rights
                of others and to remove any such infringing materials, and (iii)
                not be in compliance with any terms of this T&C.
              </li>
              <li>
                If you believe the Services have been used in a way that
                constitutes Intellectual Property Rights infringement, please
                send a message to the contact provided in this section,
                providing all of the following information:
                <ol type="i">
                  <li>
                    A statement that you have identified content on the Service
                    that infringes your Intellectual Property Rights or of a
                    third party for whom you are authorized to act;
                  </li>
                  <li>
                    A description of the work you claim has been infringed;
                  </li>
                  <li>
                    A specific description of where the allegedly infringing
                    material is located on the Services, including a URL or
                    exact description of the content’s location;
                  </li>
                  <li>
                    Your full name, address, telephone number and email address;
                  </li>
                  <li>Contact: Please send your notice by email to:</li>
                  <p>
                    <span class="link-underline">Email:</span>
                    ask@diligencevault.com
                  </p>
                </ol>
                <p>
                  Company reserves the right to forward the information of the
                  Intellectual Property infringement notice to the User who
                  allegedly provided the infringing content.
                </p>
              </li>
            </ol>
          </li>
          <li>
            <span class="bold-text">CONFIDENTIAL INFORMATION</span>
            <ol type="a">
              <li>
                As used herein, “Confidential Information” means any information
                that one Party (the “Disclosing Party”) provides to the other
                Party (the “Receiving Party”) in connection with this T&C,
                whether orally or in writing, that is designated as confidential
                or that reasonably should be considered to be confidential given
                the nature of the information and/or the circumstances of
                disclosure. For clarity, the Services and Documentation will be
                deemed Confidential Information of the Company, and User Data is
                Confidential Information of the User. However, Confidential
                Information will not include any information or materials that:
                (i) were, at the date of disclosure, or have subsequently
                become, generally known or available to the public through no
                act or failure to act by the Receiving Party; (ii) were
                rightfully known by the Receiving Party prior to receiving such
                information or materials from the Disclosing Party; (iii) are
                rightfully acquired by the Receiving Party from a third party
                who has the right to disclose such information or materials
                without breach of any confidentiality or non-use obligation to
                the Disclosing Party; or (iv) are independently developed by or
                for the Receiving Party without use of or access to any
                Confidential Information of the Disclosing Party. Without
                limiting the foregoing, nothing in this T&C will limit or
                restrict the Company’s ability to use or disclose any general
                know-how, experience, concepts and/or ideas that the Company or
                its personnel acquire or obtain in connection with the
                performance of the Company’s obligations hereunder.
              </li>
              <li>
                The Receiving Party will maintain the Disclosing Party’s
                Confidential Information in strict confidence and will not use
                the Confidential Information of the Disclosing Party except as
                necessary to perform its obligations or exercise its rights
                under this T&C. The Receiving Party will not disclose or cause
                to be disclosed any Confidential Information of the Disclosing
                Party, except (i) to those employees, representatives, or
                contractors of the Receiving Party who have a bona fide need to
                know such Confidential Information to perform under this T&C and
                who are bound by written agreements with use and nondisclosure
                restrictions at least as protective as those set forth in this
                T&C, or (ii) as such disclosure may be required by the order or
                requirement of a court, administrative agency or other
                governmental body, subject to the Receiving Party providing to
                the Disclosing Party reasonable written notice, if legally
                permitted, to allow the Disclosing Party to seek a protective
                order or otherwise contest the disclosure.
              </li>
              <li>
                The Terms and Conditions herein will constitute Confidential
                Information of each Party but may be disclosed on a confidential
                basis to a Party’s advisors, attorneys, actual or bona fide
                potential acquirers, investors, or other sources of funding (and
                their respective advisors and attorneys) for due diligence
                purposes.
              </li>
            </ol>
          </li>
          <li>
            <span class="bold-text">SECURITY</span>
            <p>
              Company has implemented and will maintain Appropriate Security
              Measures based on industry best practices and it will make
              reasonable commercial efforts to ensure that no other
              contaminants, including virus and other malware are introduced
              into the platform.
            </p>
          </li>
          <li>
            <span class="bold-text"> USER DATA AND PERSONAL DATA </span>
            <ol type="a">
              <li>
                Company acknowledges that, as between User and Company and
                except as set forth in Section 7(b), User owns and retains all
                rights, title, and interest in and to all User Data under its
                own account.
              </li>
              <li>
                User hereby grants Company a non-exclusive, worldwide,
                royalty-free right and license to use, host, reproduce, display,
                perform, and modify the User Data solely for the purpose of
                hosting, operating, improving and providing the Services.
              </li>
              <li>
                Company may use non-identifiable or anonymized Aggregated Data
                and analytics information arising from User’s use of the
                Services, for analytics information, create statistics, product
                enhancement, identifying industry developments and monitor the
                performance and use of the Services.
              </li>
              <li>
                User represents and warrants that (i) it has obtained and will
                obtain and continue to have all necessary rights, authority and
                licenses for the access to and use of the User Data (including
                for any Personal Data provided or otherwise collected pursuant
                to
                <a
                  href="https://diligencevault.com/privacy-policy/"
                  target="_blank"
                  aria-label="Companys privacy policy. (opens in a new window)"
                  >Company’s privacy policy</a
                >) as contemplated by this T&C, (ii) Company’s use of the User
                Data in accordance with this T&C will not violate any applicable
                laws or regulations or cause a breach of any agreement or
                obligations between User and any third party, (iii) will remain
                responsible and liable for compliance with applicable privacy
                laws regarding the collection, retention and use of the Personal
                Data collected as part of the provision of the Services
                hereunder.
              </li>
              <li>
                User acknowledges that Company may access User’s account,
                including Uploaded Data, to respond to Service or technical
                problems or as stated in this T&C or as required by applicable
                law. User shall have sole responsibility for the accuracy,
                quality, integrity, legality, reliability, appropriateness and
                copyright of all Uploaded Data, and Company shall not be
                responsible or liable for the deletion, correction, destruction,
                damage, loss, or failure to store any Uploaded Data.
              </li>
              <li>
                Company expressly disclaims any liability which results directly
                or indirectly from in consequence of, or in any way relating to
                (i) the User’s actual or alleged failure to obtain explicit
                agreement from any individual before storing any of their
                personal information not collected through the Services in the
                Company’s platform (i.e. storing documents not directly
                collected through the Services) and (ii) Users downloading and
                sharing User Data or confidential information out of the
                Services platform
              </li>
              <li>
                For GDPR purposes, Company acts as a Processor and Customer as
                the Controller. The User acknowledges that if Personal Data
                originating in the European Economic Area, Switzerland, and/or
                the United Kingdom is transferred by Customer to Company in a
                country that has not been found to provide an adequate level of
                protection under applicable data protection laws, the Customer
                and Company agreed that the transfer shall be governed by Module
                Two’s obligations in the Annex to the Commission Implementing
                Decision (EU) 2021/914 of 4 June 2021 on standard contractual
                clauses for the transfer of personal data to third countries
                pursuant to Regulation (EU) 2016/679 of the European Parliament
                and of the Council (“Standard Contractual Clauses”) as
                supplemented by the terms of which are incorporated by reference
                in the
                <a
                  href="https://diligencevault.com/dpa/"
                  target="_blank"
                  aria-label="Data Processing Addendum (“DPA”). (opens in a new window)"
                  >Data Processing Addendum (“DPA”)</a
                >.
              </li>
              <li>
                Company may engage third-party service providers to process
                Personal Data on behalf of Customer (“Sub-Processors”). And
                Customer provided Company with a general authorization to engage
                the Sub-Processors listed in this link, which may be updated
                from time to time.
              </li>
            </ol>
          </li>
          <li>
            <span class="bold-text">DISCLAIM OF WARRANTIES</span>
            <p>
              TO THE EXTENT PERMITTED BY APPLICABLE LAW, THE SERVICES AND OTHER
              COMPANY IP ARE PROVIDED ON AN “AS IS” BASIS, AND THE COMPANY MAKES
              NO WARRANTIES OR REPRESENTATIONS TO USER OR TO ANY OTHER PARTY. TO
              THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, COMPANY HEREBY
              DISCLAIMS ALL WARRANTIES AND REPRESENTATIONS, WHETHER EXPRESS OR
              IMPLIED, INCLUDING, BUT NOT LIMITED TO, ANY IMPLIED WARRANTIES OF
              MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND ANY
              WARRANTIES ARISING OUT OF COURSE OF DEALING OR USAGE OF TRADE.
              WITHOUT LIMITING THE FOREGOING, THE COMPANY HEREBY ALSO DISCLAIMS
              THAT (I) THE USE OF THE SERVICE WILL BE TIMELY, UNINTERRUPTED OR
              ERROR-FREE OR OPERATE IN COMBINATION WITH ANY OTHER HARDWARE,
              SOFTWARE, SYSTEM OR DATA, (II) THE SERVICE WILL MEET USER’S
              REQUIREMENTS OR EXPECTATIONS, OR (III) ERRORS OR DEFECTS WILL BE
              CORRECTED.
            </p>
          </li>
          <li>
            <span class="bold-text">INDEMNITY.</span>
            <p>
              In connection with the use of the Services, User will indemnify
              and hold harmless Company and its officers, directors, employees
              and agents, from and against any claims, suits, proceedings,
              disputes, demands, liabilities, damages, losses, and costs and
              expenses (collectively “Claim(s)”) , including, without
              limitation, reasonable legal and accounting fees arising out of or
              in any way connected with any third-party claim, that the User
              Data infringe, misappropriate or otherwise violate any third
              party’s Intellectual Property Rights or privacy or other rights;
              or (B) any Claim that the use, provision, transmission, display or
              storage of User Data violates any applicable law, rule or
              regulation.
            </p>
          </li>
          <li>
            <span class="bold-text">LIMITATIONS OF LIABILITY.</span>
            <ol type="a">
              <li>
                <span class="link-underline">Exclusion of Damages.</span> TO THE
                FULLEST EXTENT PERMITTED BY APPLICABLE LAW, AND EXCEPT FOR: (I)
                ANY INFRINGEMENT BY ONE PARTY OF THE OTHER PARTY’S INTELLECTUAL
                PROPERTY RIGHTS AND/OR (II) FRAUD OR WILFUL MISCONDUCT BY EITHER
                PARTY, NEITHER PARTY WILL BE LIABLE TO THE OTHER FOR ANY
                INCIDENTAL, SPECIAL, EXEMPLARY, PUNITIVE OR CONSEQUENTIAL
                DAMAGES, OR ANY LOSS OF INCOME, DATA, PROFITS, REVENUE OR
                BUSINESS INTERRUPTION, OR THE COST OF COVER OR SUBSTITUTE
                SERVICES OR OTHER ECONOMIC LOSS, ARISING OUT OF OR IN CONNECTION
                WITH THIS TERMS AND CONDITIONS, THE COMPANY IP OR THE PROVISION
                OF THE SERVICES, WHETHER SUCH LIABILITY ARISES FROM ANY CLAIM
                BASED ON CONTRACT, WARRANTY, TORT (INCLUDING NEGLIGENCE), STRICT
                LIABILITY OR OTHERWISE, AND WHETHER OR NOT SUCH PARTY WAS
                ADVISED OF THE POSSIBILITY OF SUCH LOSS OR DAMAGE.
              </li>
              <li>
                <span class="link-underline">Total Liability.</span> IN NO EVENT
                WILL EITHER THE COMPANY’S AND ITS AFFILIATES OR THE USER’S TOTAL
                LIABILITY TO THE OTHER PARTY OR ITS AFFILIATES IN CONNECTION
                WITH THESE TERMS AND CONDITIONS EXCEED THE FEES ACTUALLY PAID BY
                THE USER TO THE COMPANY IN THE SIX (6) MONTH PERIOD PRECEDING
                THE EVENT GIVING RISE TO THE CLAIM, REGARDLESS OF THE LEGAL OR
                EQUITABLE THEORY ON WHICH THE CLAIM OR LIABILITY IS BASED, AND
                WHETHER OR NOT EITHER PARTY WAS ADVISED OF THE POSSIBILITY OF
                SUCH LOSS OR DAMAGE.
              </li>
              <li>
                <span class="link-underline">Basis of the Bargain.</span> THE
                PARTIES HEREBY ACKNOWLEDGE AND AGREE THAT THE LIMITATIONS OF
                LIABILITY IN THIS SECTION 10 ARE AN ESSENTIAL PART OF THE BASIS
                OF THE BARGAIN BETWEEN COMPANY AND USER, AND WILL APPLY EVEN IF
                THE REMEDIES AVAILABLE HEREUNDER ARE FOUND TO FAIL THEIR
                ESSENTIAL PURPOSE.
              </li>
            </ol>
          </li>
          <li>
            <span class="bold-text">TERM</span>
            <ol type="a">
              <li>
                The Term for Services use shall commence on the day the User
                account is created. And shall terminate according to the
                following options: (i) in Company’s sole discretion if User
                fails to comply with any terms of this T&C, at any time and
                without notice to User and (ii) at any time if User requests in
                writing to have the account terminated. Any written notice of
                termination must be submitted to Company’s email:
                <a href="mailto:ask@diligencevault.com"
                  >ask@diligencevault.com</a
                >.
              </li>
              <li>
                <span class="link-underline">Survival.</span> Upon any
                termination, discontinuation or cancellation of Services or User
                account, all provisions of this T&C which by their nature should
                survive will survive, including, without limitation, the
                provisions entitled “Agreement to Terms,” “Feedback,”
                “Ownership” “User Data and Personal Data,” “Termination,”
                “Disclaim of Warranties,” “Indemnity”, “Limitation of
                Liability,” and “General Terms.”
              </li>
            </ol>
          </li>
          <li>
            <span class="bold-text">DELETION OF DATA</span>
            <ol type="a">
              <li>
                User can remove User Data by specifically deleting it. However,
                such deletion may not be permanently removed and copies of your
                User Data may continue to exist on the Services back-up.
              </li>
              <li>
                Upon termination of the Services, User’s access will immediately
                discontinue and User may instruct the Company to delete all
                User’s Data (data singularly owned by the User) from the
                Company’s systems in accordance with applicable law. Company
                will comply with this instruction as soon as reasonably
                practicable and within a maximum period of 180 days or as
                otherwise agreed between the Parties, unless obligation under
                applicable law requires storage.
              </li>
              <li>
                User acknowledges and agrees that the User will be responsible
                for exporting any User Data it wishes to retain afterward within
                forty-five (45) days of the request for termination of the
                Services. Company shall have no obligation to maintain any
                Uploaded Data stored in the User terminated account after such
                time period.
              </li>
            </ol>
          </li>
          <li>
            <span class="bold-text"
              >STORAGE OF DATA AND EXPORT RESTRICTIONS.</span
            >
            <p>
              Company stores data through cloud service third parties in the
              United States. As a U.S. company, Company and its Services are
              subject and will comply with the U.S. economic sanctions, export
              control laws and regulations. User will comply with all applicable
              federal laws, regulations and rules that prohibit or restrict the
              export or re-export of the Services or software, or any User Data,
              outside the United States (“Export Rules”), and will complete all
              undertakings required by Export Rules, including obtaining any
              necessary export license or other governmental approval.
              Notwithstanding any other provision in this Terms and Conditions,
              Company shall have the right to block User’s access to the
              Services immediately upon the determination by Company that User
              is not in compliance with US export laws or violates any
              government privacy and/or data protection laws.
            </p>
          </li>
          <li>
            <span class="bold-text">GENERAL.</span>
            <ol type="a">
              <li>
                <span class="link-underline">Entire Agreement.</span> This Terms
                and Conditions, including its exhibits and disclaimers, is the
                complete and exclusive agreement between the Parties with
                respect to its subject matter and supersedes any and all prior
                or contemporaneous agreements, communications and
                understandings, both written and oral, with respect to its
                subject matter. Company, at its sole discretion, reserves the
                right to change, modify, amend or otherwise alter these Terms
                and Conditions at any time and, in such case will let Users know
                by posting the modified Terms and Conditions on the Company’s
                platform or website, newsletters or through other
                communications.
              </li>
              <li>
                <span class="link-underline">Notices.</span> All notices
                required or permitted under this Agreement will be in writing,
                will reference this Agreement, and will be sent to the relevant
                email address set forth below in accordance with this Section
                14(b). All notices will be deemed to have been duly given when
                receipt is electronically confirmed if transmitted by email.
                <br />
                <span class="link-underline">If to Company:</span> Email:
                legal@diligencevault.com <br />
                <span class="link-underline">If to User:</span> email registered
                in Company’s platform, newsletters and/or postings on the
                Company website.
              </li>
              <li>
                <span class="link-underline">Waiver.</span> The Parties failure
                to enforce any provision of this Agreement will not constitute a
                waiver of future enforcement of that or any other provision.
              </li>
              <li>
                <span class="link-underline">Severability.</span> If any
                provision of this Agreement is held invalid, illegal or
                unenforceable, that provision will be enforced to the maximum
                extent permitted by law, given the fundamental intentions of the
                Parties, and the remaining provisions of this Agreement will
                remain in full force and effect.
              </li>
              <li>
                <span class="link-underline">Governing Law; Jurisdiction.</span>
                This Agreement will be governed by and construed in accordance
                with the laws of the State of New York without giving effect to
                any principles of conflict of laws that would lead to the
                application of the laws of another jurisdiction. The Parties
                expressly agree that the United Nations Convention on Contracts
                for the International Sale of Goods will not apply. Any legal
                action or proceeding arising under this Agreement will be
                brought exclusively in the federal or state courts located in
                New York County, New York and the Parties irrevocably consent to
                the personal jurisdiction and venue therein.
              </li>
              <li>
                <span class="link-underline">Compliance with Laws:</span> User
                agrees to comply with all applicable local, state, national and
                foreign laws, rules and regulations in connection with its
                access and/or use of the Services under this Agreement,
                including, without limitation, privacy laws, intellectual
                property laws, anti-spam laws, export control laws, tax laws,
                and regulatory requirements. User shall comply with all legal
                duties applicable to User as a data controller by virtue of User
                submitting User Data to or storing User Data within the Service.
                Specifically, User shall provide the relevant Persons and/or
                participants with all information or notices User is required by
                applicable privacy and data protection law to provide and, if
                necessary, obtain the consent of or provide choices to such
                persons and/or participants as required by such laws.
              </li>
              <li>
                <span class="link-underline">Force Majeure.</span> Company will
                not be responsible for any failure or delay in the performance
                of its obligations under this T&C due to causes beyond its
                reasonable control, which may include, without limitation, labor
                disputes, strikes, lockouts, shortages of or inability to obtain
                energy, raw materials or supplies, denial of Service or other
                malicious attacks, telecommunications failure or degradation,
                pandemics, epidemics, public health emergencies, governmental
                orders and acts (including government-imposed travel
                restrictions and quarantines), material changes in law, war,
                terrorism, riot, or acts of God. Furthermore, If at any time
                continued provision of the Service would compromise the security
                of the Service due, without limitation, to hacking attempts,
                denial of service attacks, mail bombs or other malicious
                activities, User agrees that Company may temporarily suspend the
                Service.
              </li>
              <li>
                <span class="link-underline">Subcontracting.</span> Company may
                use subcontractors and other third-party providers
                (“Subcontractor(s)”) in connection with the performance of its
                own obligations hereunder as it deems appropriate; provided that
                (i) the Company remains responsible for the performance of each
                such Subcontractor and (ii) all Subcontractors that have access
                to User Data are reviewed by the Company in accordance with its
                diligence procedures. Notwithstanding anything to the contrary
                in this Agreement, with respect to any third-party vendors
                including any hosting or email service vendors, Company will use
                commercially reasonable efforts to guard against any damages or
                issues arising in connection with such vendors, but will not be
                liable for the acts or omissions of such third-party vendors
                except to the extent that it has been finally adjudicated that
                such damages or issues are caused directly from the gross
                negligence or willful misconduct of Company, unless such damages
                or issues are otherwise required by law.
              </li>
              <li>
                <span class="link-underline">U.S. Government End Users.</span>
                The Services, software is a “commercial computer software”, as
                such terms are used in FAR 12.212 and other relevant government
                procurement regulations. Any use, duplication, or disclosure of
                the software or its documentation by or on behalf of the U.S.
                government is subject to restrictions as set forth in this
                Agreement.
              </li>
              <li>
                <span class="link-underline">Relationship of the Parties.</span>
                The relationship between the Parties is that of independent
                contractors. Nothing in this Agreement will be construed to
                establish any partnership, joint venture, or agency relationship
                between the Parties. Neither Party will have the power or
                authority to bind the other or incur any obligations on the
                other’s behalf without the other Party’s prior written consent.
              </li>
            </ol>
          </li>
        </ol>
        <hr />
        <p>
          Captions and headings are used herein for convenience only. Captions
          and headings are not a part of these Terms and Conditions and shall
          not be used in interpreting or construing these Terms and
          Conditions.<br />
          The English language version of these Terms and Conditions shall be
          the controlling version and is incorporated by reference into any
          translation of these Terms and Conditions. Any translation or other
          language version of this Terms and Conditions shall be provided for
          informational purposes only.
        </p>
        <hr />
        <p>
          BY ACCEPTING THESE TERMS OR SERVICE, YOU REPRESENT AND WARRANT THAT
          YOU: (I) ARE 18 YEARS OF AGE OR OLDER; AND (II) HAVE READ, UNDERSTAND
          AND AGREE ON BEHALF OF YOUR ORGANIZATION TO BE BOUND BY THESE TERMS
          AND CONDITIONS. YOUR USE OF COMPANY SERVICES INDICATES YOUR CONTINUED
          ACCEPTANCE OF THE CURRENT TERMS AND CONDITIONS.
        </p>
      </div>
    </div>
  </div>
</ng-template>
<ng-container *ngTemplateOutlet="TermsconditionTemplate"> </ng-container>
