<div class="panel panel-default">
  <div class="panel-body clearfix">
    <app-spinner
      [broadSpinner]="true"
      [spinnerHeight]="65"
      *ngIf="loading"
    ></app-spinner>
    <div class="dv-table dv-table-middle dd-info-panel">
      <div class="cell">
        <div class="lh1-5">
          <strong>{{ current_user?.fullName }}</strong>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h5 class="panel-title">My Accounts</h5>
  </div>
  <div class="panel-body">
    <div class="firmswitchContainer" *ngIf="firmSwitching">
      <div class="loaderContainer">
        <h3>
          Switching to: <strong>{{ selectedFirm.firm_name }}</strong>
        </h3>
        <app-spinner></app-spinner>
      </div>
    </div>
    <div *ngIf="myAccountsData" class="space-on-top-lg">
      <app-dv-grid [rowData]="myAccountsData" [name]="gridName"></app-dv-grid>
    </div>
  </div>
</div>
