<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <httpRuntime enableVersionHeader="false" />
        <httpCookies httpOnlyCookies="true" requireSSL="true" />
        <customErrors mode="RemoteOnly" defaultRedirect="404.html"/>
    </system.web>

<!-- REVIEW THIS LINK for cache-control policies
https://stackoverflow.com/questions/14211992/iis-and-static-content
 -->

    <system.webServer>

      <staticContent>
          <clientCache cacheControlCustom="public,no-cache" cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" setEtag="true"/>
          <remove fileExtension=".json" />
          <remove fileExtension=".woff" />
          <mimeMap fileExtension=".json" mimeType="application/json" />
          <mimeMap fileExtension=".woff" mimeType="font/woff" />

      </staticContent>

      <httpProtocol>
        <customHeaders>
          <!-- added security protections -->
         <add name="X-Xss-Protection" value="1; mode=block" />
         <add name="X-Content-Type-Options" value="nosniff" />
         <add name="X-Frame-Options" value="SAMEORIGIN" />
         <add name="Content-Security-Policy-Report-Only" value="default-src 'self' *.blob.core.windows.net https: data:; script-src 'self' 'unsafe-inline' https://beacon.errorception.com https://browser-update.org; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; object-src 'None'; img-src 'self'" />
         <add name="Referrer-Policy" value="no-referrer-when-downgrade" />
         <add name="X-Permitted-Cross-Domain-Policies" value="none" />
         <add name="Access-Control-Allow-Origin" value="*" />
         <add name="Document-Policy" value="js-profiling" />
         <remove name="X-Powered-By" />
        </customHeaders>
      </httpProtocol>

      <rewrite>
        <rules>
           <!-- picked from https://serverfault.com/questions/417173/enable-http-strict-transport-security-hsts-in-iis-7/629594#629594-->
            <rule name="HTTP to HTTPS redirect" stopProcessing="true">
                   <match url="(.*)" />
                   <conditions>
                       <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                   </conditions>
                   <action type="Redirect" url="https://{HTTP_HOST}/{R:1}"
                       redirectType="Permanent" />
               </rule>
        </rules>
        <outboundRules>
          <rule name="RemoveOptionsHeaders-RESPONSE_Allow" preCondition="IsOptionsRequest">
            <match serverVariable="RESPONSE_Allow" pattern="OPTIONS, TRACE, GET, HEAD, POST" />
            <action type="Rewrite" value="OPTIONS,GET,HEAD"/>
          </rule>
          <rule name="RemoveOptionsHeaders-RESPONSE_PUBLIC" preCondition="IsOptionsRequest">
            <match serverVariable="RESPONSE_PUBLIC" pattern="OPTIONS, TRACE, GET, HEAD, POST" />
            <action type="Rewrite" value="OPTIONS,GET,HEAD"/>
          </rule>
            <!-- to Avoid MITM attack, use HSTS -->
          <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
            <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
            <conditions>
              <add input="{HTTPS}" pattern="on" ignoreCase="true" />
            </conditions>
            <action type="Rewrite" value="max-age=31536000; includeSubdomains; preload" />
          </rule>

          <!-- CACHE-BUSTING solves the problem of caching because every build will have its own hash
              Hence main origin server will never have 2 copies of vendor.js and index.html will always
              refer to new minified hashed file. Removing no-cache option from here  -->
          <rule name="AdjustCacheForJSPages" preCondition="IsJSFile">
              <match serverVariable="RESPONSE_Cache-Control" pattern=".*" />
              <action type="Rewrite" value="public, no-cache, max-age=302400" />
          </rule>
          <rule name="AdjustCacheForAppJS" preCondition="IsAppJSFile">
              <match serverVariable="RESPONSE_Cache-Control" pattern=".*" />
              <action type="Rewrite" value="public, no-cache, max-age=151200" />
          </rule>
          <!-- Ensure that index.html is NOT cached -->
          <rule name="AdjustCacheForIndexHtml" preCondition="IsHTMLFile">
              <match serverVariable="RESPONSE_Cache-Control" pattern=".*" />
              <action type="Rewrite" value="public, no-cache, max-age=151200" />
          </rule>

          <preConditions>
              <preCondition name="IsHTMLFile">
                  <add input="{REQUEST_FILENAME}" pattern=".*\.html" />
              </preCondition>

              <preCondition name="IsJSFile">
                  <add input="{REQUEST_FILENAME}" pattern=".*\.js" />
              </preCondition>
              <preCondition name="IsAppJSFile">
                  <add input="{REQUEST_FILENAME}" pattern="/app\.min\.\w{0,20}.js/" />
              </preCondition>
              <preCondition name="IsOptionsRequest">
                <add input="{REQUEST_METHOD}" pattern="^OPTIONS$" />
              </preCondition>
          </preConditions>
        </outboundRules>
      </rewrite>

    </system.webServer>

    <location path="index.html">
      <system.webServer>
        <httpProtocol>
          <customHeaders>
            <add name="Cache-Control" value="no-cache, no-store" />
          </customHeaders>
        </httpProtocol>
      </system.webServer>
    </location>
</configuration>
