<div
  class="panel panel-default relative"
  tabindex="0"
  aria-label="Permissions Panel"
  role="region"
>
  <div class="panel-heading">
    <h5 class="panel-title">Permissions</h5>
    <div class="panel-controls">
      <div class="panel-controls-wrapper">
        <dv-button
          placement="left"
          tooltip="Add New Permission"
          container="body"
          id="jsaddteammembers"
          class="panel-control"
          (click)="openNewPermissionDialog()"
          tabindex="0"
          aria-label="Add New Permission"
          role="button"
        >
          New Permission
        </dv-button>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="panel panel-default bg-sky-blue" *ngIf="show_bulk_actions">
      <div class="panel-body padded-lg">
        <h5 class="inline space-on-right-lg">
          <strong
            >Selected Records :
            <span class="badge">{{ totalSelectedRecords }}</span></strong
          >
        </h5>
        <span
          [tooltip]="
            totalSelectedRecords > canDeleteOrEditAtOnce
              ? 'Only ' +
                canDeleteOrEditAtOnce +
                ' records can be deleted at once'
              : 'Delete selected'
          "
          [ngClass]="{
            'disabled-Element': totalSelectedRecords > canDeleteOrEditAtOnce
          }"
          container="body"
        >
          <a
            class="btn btn-default space-on-right-lg"
            [ngClass]="{
              linkDisabled: totalSelectedRecords > canDeleteOrEditAtOnce
            }"
            (click)="confirmBulkResourceDeletion()"
            tabindex="0"
            aria-label="Delete Selected Records"
          >
            <strong><span appIcon name="trashcan"></span> </strong>
          </a>
        </span>
        <a
          tooltip="Close"
          container="body"
          class="btn pull-right text-black danger"
          (click)="closeQuickActions()"
          tabindex="0"
          aria-label="Close"
        >
          <strong><span appIcon name="close"></span></strong>
        </a>
      </div>
    </div>
    <div *ngIf="render_grid">
      <app-dv-grid
        [rowData]="permissions"
        [name]="gridName"
        [onCellClicked]="onCellClicked"
        [onSelectionChanged]="onSelectionChanged"
        [onRowSelected]="onRowSelected"
        #permissionsGrid
      ></app-dv-grid>
    </div>
    <div class="text-center" *ngIf="!render_grid">
      <app-spinner></app-spinner>
    </div>
  </div>
</div>
