<app-modal
  (onCancelClick)="handleCancelClick($event)"
  (onFirstClick)="user ? addUserToTeam($event) : updateRole($event)"
  [firstButtonLabel]="
    isTeam
      ? 'Update Access Level'
      : edit_role_mode
      ? 'Update Role'
      : user
      ? 'Add To Team'
      : ''
  "
  [title]="
    isTeam
      ? 'Edit Access Level'
      : edit_role_mode
      ? 'Edit Role'
      : user
      ? 'Add User To Team'
      : 'Create Team'
  "
  [initialTemplate]="addTeamModal"
  [isLoading]="updating_role || adding_user_to_teams"
  [cancelButtonLabel]="existing_members.length ? 'Done' : 'Close'"
  [cancelButtonType]="existing_members.length ? 'primary' : 'default'"
>
  <ng-template #addTeamModal>
    <form class="form-horizontal" [formGroup]="addTeamForm" autocomplete="off">
      <div *ngIf="!user && !edit_role_mode">
        <accordion [closeOthers]="true">
          <accordion-group
            class="panel panel-default"
            [isDisabled]="true"
            [ngClass]="{ 'input-accordion-title': editingName }"
          >
            <a
              accordion-heading
              class="font-size-15 no-decoration"
              type="button"
            >
              <dv-form-element
                [fieldName]="'team_name'"
                [modelController]="addTeamForm.get('team_name')"
                *ngIf="editingName"
                elementCol="6"
                label="Team Name"
                [isTemplate]="buttonTemp"
                spacing="none"
                labelCol="2"
                labelClass="control-label text-align-start"
                errorMessage="The Name field is required."
              >
                <input
                  type="text"
                  class="form-control"
                  id="team_name"
                  placeholder="Enter team name"
                  formControlName="team_name"
                  required
                />
              </dv-form-element>
              <ng-template #buttonTemp>
                <div col="2" col-type="sm" class="space-on-right">
                  <dv-button
                    (onClick)="saveTeam()"
                    [loader]="saving_team"
                    [disabled]="!addTeamForm.value.team_name"
                    class="space-on-right"
                  >
                    Save
                  </dv-button>
                  <dv-button
                    *ngIf="teamCreated"
                    btnClass="btn btn-default"
                    btnType="default"
                    (onClick)="handleTeamNameEdit(false)"
                  >
                    Cancel
                  </dv-button>
                </div>
              </ng-template>
              <dv-form-element
                [fieldName]="'team_name'"
                [modelController]="addTeamForm.get('team_name')"
                *ngIf="teamCreated && !editingName"
                elementCol="12"
                spacing="none"
                [showRightIcon]="false"
              >
                <div>
                  <span
                    for="team-name"
                    class="control-label text-align-start clear-padding fw-bolder"
                    col="2"
                    col-type="sm"
                    >Team Name</span
                  >
                  <div col="8" col-type="sm">
                    <p class="text-muted team_name">
                      {{ addTeamForm.value.team_name }}
                      <span
                        appIcon
                        name="pencil"
                        class="space-on-left"
                        (click)="handleTeamNameEdit(true)"
                      ></span>
                    </p>
                  </div>
                </div>
              </dv-form-element>
            </a>
          </accordion-group>

          <accordion-group
            class="panel panel-default"
            [isDisabled]="!(createdTeam && !editingName)"
            [isOpen]="accordionState.get('Members')"
            (isOpenChange)="handleAccordionGroupState($event, 'Members')"
            [ngClass]="{ disabled: !(createdTeam && !editingName) }"
          >
            <a
              accordion-heading
              class="font-size-15 no-decoration bold-text"
              type="button"
            >
              Add Team Members
            </a>
            <div formGroupName="membersObject">
              <dv-form-element
                [fieldName]="'Role'"
                [modelController]="
                  addTeamForm.get('membersObject').get('role_id')
                "
                [showRightIcon]="false"
                elementCol="8"
                [labelCol]="3"
                [label]="'Access Level'"
                [for]="'access-level'"
              >
                <dv-select
                  [id]="'access-level'"
                  [clearable]="false"
                  [searchable]="true"
                  formControlName="role_id"
                  (onSelectChange)="setRoleText()"
                  placeholder="Select an option"
                  [list]="roles"
                  [bindLabel]="'alias'"
                >
                </dv-select>
                <div
                  class="panel panel-info space-on-top-lg"
                  *ngIf="addTeamForm.value.membersObject.role_id"
                >
                  <div class="panel-heading" [innerHTML]="roleText"></div>
                </div>
              </dv-form-element>

              <dv-form-element
                elementCol="16"
                [fieldName]="'Member'"
                *ngIf="team_members"
              >
                <span class="control-label fw-bolder" col="3">Members</span>
                <div col="8">
                  <app-dv-selector-list
                    [name]="resource_list"
                    [entity_type]="'User'"
                    [entities]="team_members"
                    [filter_params]="{}"
                    [displayParams]="teamSelectorDisplayParams"
                    (onChangeEntity)="handleonChangeEntity($event)"
                  ></app-dv-selector-list>
                </div>
              </dv-form-element>
              <dv-form-element elementCol="16">
                <span class="control-label" col="3"></span>
                <div col="8" class="new_team_buttons text-right">
                  <dv-button
                    btnClass="btn btn-primary btn-sm"
                    (onClick)="addMembersRow()"
                    [loader]="adding_new_members"
                  >
                    Add Members
                  </dv-button>
                </div>
              </dv-form-element>
            </div>

            <div
              *ngIf="existing_members.length"
              class="panel panel-info space-on-bottom space-on-top-lg"
            >
              <div class="panel-heading">Existing Members</div>
            </div>
            <div
              *ngIf="existing_members.length"
              style="height: 230px; overflow-y: auto"
            >
              <table class="table table-bordered table-hover table-condensed">
                <tbody>
                  <tr
                    *ngFor="let member of existing_members; let index = index"
                  >
                    <td>{{ member.user_name }}</td>
                    <td>{{ member.role_name }}</td>
                    <td>
                      <span
                        class="control js-delete-category"
                        (click)="removeUserConfirm(member, index)"
                        role="button"
                        tabindex="0"
                        tooltip="Remove"
                        placement="left"
                        container="body"
                        stop-event-propagation
                        prevent-default
                        aria-label="Remove member"
                      >
                        <span appIcon name="trashcan"></span>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </accordion-group>

          <accordion-group
            class="panel panel-default"
            [isDisabled]="!(createdTeam && !editingName)"
            [isOpen]="accordionState.get('Permissions')"
            (isOpenChange)="handleAccordionGroupState($event, 'Permissions')"
            [ngClass]="{ disabled: !(createdTeam && !editingName) }"
          >
            <a
              accordion-heading
              class="font-size-15 no-decoration bold-text"
              type="button"
            >
              Add Permissions
            </a>
            <div>
              <div class="space-on-bottom-lg">
                <add-team-permissions
                  [selectedEntities]="resources"
                  (onChangeResources)="handleOnChangeResources($event)"
                  (onResourceTypeChanged)="handleResourceTypeChange($event)"
                  (onAllowUnderlyingEntitiesOptionChange)="
                    setAllowUnderlyingEntitiesOption($event)
                  "
                ></add-team-permissions>
              </div>
              <dv-form-element
                elementCol="16"
                [fieldName]="'Visibility'"
                [showRightIcon]="false"
                [modelController]="addTeamForm.get('visibility')"
              >
                <label
                  for="visibility"
                  class="control-label"
                  col="3"
                  col-type="sm"
                  >Visibility</label
                >
                <div col="8" col-type="sm">
                  <dv-select
                    [id]="'visibility'"
                    [clearable]="false"
                    [searchable]="true"
                    formControlName="visibility"
                    (onSelectChange)="setvisibilityText()"
                    [list]="accessList"
                    [bindLabel]="'alias'"
                    [bindValue]="'name'"
                  >
                  </dv-select>
                  <div
                    class="panel panel-info space-on-top-lg"
                    *ngIf="addTeamForm.value.visibility"
                  >
                    <div class="panel-heading">
                      {{ visibilityText }}
                    </div>
                  </div>
                </div>
              </dv-form-element>
              <dv-form-element elementCol="16">
                <span class="control-label" col="3" col-type="sm"></span>
                <div col="8" col-type="sm" class="text-right">
                  <dv-button
                    type="button"
                    btnClass="btn btn-primary btn-sm"
                    (onClick)="addPermissionRow()"
                    [loader]="adding_resources"
                  >
                    Add Permissions
                  </dv-button>
                </div>
              </dv-form-element>
              <div
                *ngIf="resources.length"
                class="panel panel-info space-on-bottom"
              >
                <div class="panel-heading">Existing Resources</div>
              </div>
              <div
                *ngIf="resources.length"
                style="height: 230px; overflow-y: auto"
              >
                <table class="table table-striped table-hover table-condensed">
                  <tbody>
                    <tr *ngFor="let resource of resources; let index = index">
                      <td>{{ resource.entity_name }}</td>
                      <td>
                        {{
                          resource.access_level == "Private"
                            ? "TeamOwned"
                            : resource.access_level
                        }}
                      </td>
                      <td>
                        <span
                          class="control js-delete-category"
                          (click)="revokeAccessModal(resource, index)"
                          role="button"
                          tabindex="0"
                          tooltip="Remove"
                          placement="left"
                          container="body"
                          stop-event-propagation
                          prevent-default
                          aria-label="Remove resource"
                        >
                          <span appIcon name="trashcan"></span>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </accordion-group>
        </accordion>
      </div>
      <div *ngIf="user && !edit_role_mode">
        <dv-form-element elementCol="16">
          <span class="control-label fw-bolder" col="3" col-type="sm"
            >User</span
          >
          <div col="8" col-type="sm">
            <p class="space-on-top">
              <span class="label label-default">{{ user.name }}</span>
            </p>
          </div>
        </dv-form-element>
        <div formGroupName="membersObject">
          <dv-form-element
            elementCol="16"
            [fieldName]="'Role'"
            [showRightIcon]="false"
            [modelController]="addTeamForm.get('membersObject').get('role_id')"
          >
            <label for="role" class="control-label" col="3" col-type="sm"
              >Role</label
            >
            <div col="7" col-type="sm">
              <dv-select
                [id]="'role'"
                [clearable]="false"
                [searchable]="true"
                formControlName="role_id"
                (onSelectChange)="setRoleText()"
                placeholder="Select some options"
                [list]="roles"
                [bindLabel]="'alias'"
                [bindValue]="'id'"
              >
              </dv-select>

              <div
                class="panel panel-info space-on-top-lg"
                *ngIf="addTeamForm.value.membersObject.role_id"
              >
                <div class="panel-heading" [innerHTML]="roleText"></div>
              </div>
            </div>
          </dv-form-element>
        </div>
        <dv-form-element
          elementCol="16"
          [fieldName]="'Team'"
          [showRightIcon]="false"
          [modelController]="addTeamForm.get('team')"
        >
          <label for="team" class="control-label" col="3" col-type="sm"
            >Team</label
          >
          <div col="7" col-type="sm">
            <dv-select
              [id]="'team'"
              [clearable]="false"
              [searchable]="true"
              formControlName="team"
              placeholder="Select some options"
              [list]="teams"
            >
            </dv-select>

            <p *ngIf="teams.length == 0" class="text-muted space-on-top">
              No teams found
            </p>
          </div>
        </dv-form-element>
      </div>
      <!--  ******************************************************************************** -->
      <div *ngIf="edit_role_mode">
        <dv-form-element elementCol="16">
          <span class="control-label fw-bolder" col="4" col-type="sm"
            >User</span
          >
          <div col="7" col-type="sm">
            <p class="text-muted space-on-top">{{ entityData.user_name }}</p>
          </div>
        </dv-form-element>
        <dv-form-element elementCol="16" field-name="Team">
          <span class="control-label fw-bolder" col="4" col-type="sm"
            >Team</span
          >
          <div col="7" col-type="sm">
            <p class="text-muted space-on-top">{{ entityData.team_name }}</p>
          </div>
        </dv-form-element>
        <div formGroupName="membersObject">
          <dv-form-element
            elementCol="16"
            [fieldName]="'Role'"
            [showRightIcon]="false"
            [modelController]="addTeamForm.get('membersObject').get('role_id')"
          >
            <label for="role_id" class="control-label" col="4" col-type="sm"
              >Access Level</label
            >
            <div col="7" col-type="sm">
              <dv-select
                [id]="'role_id'"
                [clearable]="false"
                [searchable]="true"
                formControlName="role_id"
                (onSelectChange)="setRoleText()"
                placeholder="Select some options"
                [list]="roles"
                [bindLabel]="'alias'"
              >
              </dv-select>

              <div
                class="panel panel-info space-on-top-lg"
                *ngIf="addTeamForm.value.membersObject.role_id"
              >
                <div class="panel-heading" [innerHTML]="roleText"></div>
              </div>
            </div>
          </dv-form-element>
        </div>
      </div>
    </form>
  </ng-template>
</app-modal>
