.avatar-container {
  position: relative;
  display: flex;
  align-items: center;
}
.avatar {
  position: absolute;
  /* width: 48px;
  height: 48px; */
  border-radius: 50%;
  border: 1px solid transparent;
  overflow: hidden;
  width: 34px;
  height: 34px;
  top: 3px;
}
.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
}
.avatar .avatar-alt {
  display: flex;
  justify-content: center;
  background: #ff9e0c;
  align-items: center;
  height: 100%;
}

.is-grouped {
  margin-top: 3px;
  position: inherit;
}
