<div class="row clearfix">
  <div class="col-md-12">
    <div class="panel panel-default borderless-top">
      <div class="panel-body clearfix">
        <app-spinner
          [broadSpinner]="true"
          [spinnerHeight]="40"
          *ngIf="!strategy"
        ></app-spinner>
        <div class="dv-table dv-table-middle dd-info-panel" *ngIf="strategy">
          <div class="bordered-right cell">
            <h4 class="clear-margin max-w-320 lh1-5 word-break-break-all">
              {{ strategy?.display_name }}
              <span
                class="space-on-left label label-warning"
                tooltip="Deactivated by the owner firm"
                container="body"
                *ngIf="!strategy?.platform_active"
                >{{ statusLabel.INACTIVE }}</span
              >
            </h4>
            <small class="text-muted">
              Parent Firm {{ strategy?.parentFirm.name }}
            </small>
          </div>
          <div class="cell bordered-left">
            <dv-button
              [btnType]="'transparent'"
              (onClick)="addNewProductModal()"
            >
              <div>
                <span appIcon name="fund" class="font-size-18"></span>
              </div>
              <small>Add Product</small>
            </dv-button>
          </div>
          <div class="cell bordered-left">
            <dv-button
              [btnType]="'transparent'"
              (onClick)="navigateToStrategies()"
            >
              <div>
                <span appIcon name="arrow-back" size="2x"></span>
              </div>
              <small>Back to all Strategies</small>
            </dv-button>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div col="12">
        <div
          class="panel panel-default"
          *ngIf="associated_products && associated_products.length"
        >
          <div class="panel-heading">
            <h5 class="panel-title">
              {{ associated_products.length }} Associated Products
            </h5>
          </div>
          <div class="panel-body">
            <!-- TODO: tiles-adjuster="adjust_entity_list"
              use-max-tile-width="true"
              tile-selector="> li" -->
            <ul
              class="list-unstyled due-diligence-grid"
              tiles-adjuster="adjust_entity_list"
              use-max-tile-width="true"
              tile-selector="> li"
            >
              <!-- TODO: on-render="adjust_entity_list = true" -->
              <li
                class="inline-block pull-left"
                on-render="adjust_entity_list = true"
                *ngFor="let entity of associated_products"
              >
                <!-- style="width: calc(20% - 22px); margin-right: 10px" -->
                <div class="panel panel-default relative">
                  <div class="panel-body">
                    <div>
                      <a
                        (click)="navigateToProfileMonitor(entity)"
                        class="clickable"
                      >
                        {{ entity.name }}
                      </a>
                      <span
                        class="space-on-left label label-warning"
                        tooltip="Deactivated by the owner firm"
                        container="body"
                        *ngIf="!entity.platform_active"
                        >{{ statusLabel.INACTIVE }}</span
                      >
                    </div>
                    <ul
                      class="list-unstyled space-on-top-lg clear-margin-bottom list-with-icons"
                    >
                      <li class="space-on-bottom">
                        <span class="align-middle text-muted">{{
                          entity.strategyName
                        }}</span>
                      </li>
                      <li class="space-on-bottom">
                        <span class="align-middle text-muted"
                          ><small
                            ># SHARE CLASS: {{ entity.shareclass_Count }}</small
                          ></span
                        >
                      </li>
                      <li>
                        <!-- TODO: strategy-return-->
                        <strategy-return
                          strategy-return="entity.return"
                          tooltip="Strategy returns"
                          container="body"
                          date="entity.returnAsofDate"
                        ></strategy-return>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="panel panel-default" *ngIf="!associated_products">
          <div class="panel-body">
            <app-spinner
              [broadSpinner]="true"
              spinnerHeight="100"
            ></app-spinner>
          </div>
        </div>
      </div>
    </div>
    <div
      class="row clearfix"
      *ngIf="associated_products && !associated_products.length"
    >
      <div col="12">
        <app-empty-state
          message="No associated products found"
        ></app-empty-state>
      </div>
    </div>
  </div>
</div>
